[2016-05-10 22:43] javuto opened #3 "Timing the opening of levels"
Having a method to open challenges based on time would be useful to automate events. Some logic can be added to this, for example, if nobody has resolved one specific level, then do not open more and so on.

[2016-05-10 22:44] javuto opened #4 "Timing the opening of hints"
It would be useful to open hints based on time. If nobody has solved one level and X minutes have passed, then open hint or something similar.

[2016-05-10 22:45] javuto opened #5 "Adding new items (levels, teams) in batch"
Would be nice to have a way to import levels, teams and any other component with a JSON file. Also export existing ones to a JSON file instead of having to deal with MySQL dumps.

[2016-05-10 22:46] javuto opened #6 "Generate a CTF report once the competition is over"
It is nice to get some summary of what the competition was like. How many teams playing, sessions, levels completed, logs of the game and whatnot. Like the executive report of a pentest.

[2016-05-10 22:54] javuto opened #7 "Add internationalization"
At the moment the platform is fully written in english and there are people that could use it in their own languages, specially for schools. We could create internationalization files and support languages on demand.

[2016-05-10 23:07] gsingh93 opened #8 "Use ajax for more admin actions"
Some stuff doesn't really need to use ajax, but it would be nice if it did. These are the main things that would would be nice to move to ajax and wouldn't be too hard:
- [ ] Enabling/disabling countries
- [ ] All pages on index.php
- [ ] All pages on admin.php

These would need a bit more work and won't benefit as much from ajax:
- [ ] Adding teams
- [ ] Adding announcements
- [ ] Adding categori

[2016-05-10 23:08] gsingh93 opened #9 "Support multiple hints"
We currently only support adding one hint through the UI. More hints can be added to the problem description, but this isn't ideal. We should support multiple hints in the future.

[2016-05-10 23:10] gsingh93 opened #10 "Support starting a game at a set time"
At the moment you have to click "Begin Game" manually to start a game. We should add a feature to set the start time and a duration or end time, and have the game automatically start at the start time.

[2016-05-10 23:13] gsingh93 opened #11 "Allow teams to upload custom logos"
Currently we force teams to use only the logos we have uploaded. We should allow teams to upload their own logos.

[2016-05-10 23:14] gsingh93 opened #12 "Add Freenode IRC integration"
Having IRC integration built into the platform would make communication with admins easier for people who aren't familiar with IRC.

[2016-05-10 23:19] gsingh93 opened #13 "Customize module refresh time"
We currently hard code the module refresh time interval. We should allow admins to customize this interval, possibly with different intervals for different modules.

[2016-05-10 23:21] gsingh93 opened #14 "Require email for registration"
We currently only require user emails when we also require player names. This works great for local CTFs, but it's not so great for CTFs open to the public. We should always require an email so we can do password resets and contact the teams if necessary.

[2016-05-10 23:22] gsingh93 opened #15 "Implement password resets"
Allow teams to reset their password using their supplied email.

[2016-05-10 23:23] gsingh93 opened #16 "Create a simple list view for the challenges"
The map view is great, but we should also provide a simple list view of all the challenges in case people don't want to use it.

[2016-05-11 01:45] gsingh93 opened #17 "Scoreboard position occasionally is shifted to the left"
The scoreboard popup occasionally shifts to the left, instead of being centered on the page. This seems to happen randomly.

[2016-05-11 01:50] gsingh93 opened #18 "Cleanup view mode"
The platform supports a mode for non-players to view the game. This mode is essentially a stripped down version of the gameboard view. This mode is essentially done, but needs some CSS fixes before we can add a link to it in the nav.

[2016-05-11 07:44] gsingh93 opened #19 "Allow setting bonus, bonus decrement, attachments, and links when creating a challenge"
We currently require you to create a challenge first before setting any of these values (for legacy reasons), but now there's no reason not to be able to add these when we create a challenge.

[2016-05-11 11:45] Dor1s opened #20 "'provision.sh prod' doesn't work fine"
There are a couple of issues

1) **Incorrect path to a certificate file in nginx configuration**

Would be better to create self-signed certificate in default case and provide path to it instead of using [.csr file](https://github.com/facebook/fbctf/blob/5d75a0a5b71d724ff71ac301e99ad5ed99a7947b/extra/lib.sh#L86
) since it breaks nginx configuration.

By default it doesn't exist at all:

[code]

If

[2016-05-11 17:09] uppusaikiran opened #21 "After installation browser does not show anything and also installation has errors"
I have followed the instuctions like
[code]
and after the final code is executed it asked me for where to install ssl certificates and ssl_keys ,so i have created a ssl empty folder in the project folder and i executed the command again.Which gave me an error like this

[code]

[2016-05-11 18:37] adampankow commented on #21
It isn't asking where to install your SSL the cert and key, it is asking you to provide them. Follow a guide such as this one, to create keys: http://www.akadia.com/services/ssh_test_certificate.html

[2016-05-11 18:54] uppusaikiran commented on #21
Actually it was asking where to install and asking to choose a directory

[2016-05-11 19:00] uppusaikiran commented on #21
This is where the real problem is
[code]

[2016-05-11 19:02] adampankow commented on #21
No, you need to be saying /path/to/generated.crt & /path/to/generated.key, which you need to generate manually, using the steps outlined in the linked page.

[2016-05-11 19:26] hashtag29 opened #22 "How to open it"
Sorry for the noob question,

I need to know how can i run that!?
everything was done, but i cant access the admin panel...

[2016-05-11 19:45] adampankow commented on #22
I was in the same boat, utterly lost as to how to access the admin panel. Anyone care to toss us a bone?

[2016-05-11 20:04] fnzv commented on #20
Getting the same error:
nginx: [emerg] BIO_new_file("/etc/nginx/certs/fbctf.csr") failed (SSL: error:02001002:system library:fopen:No such file or directory:fopen('/etc/nginx/certs/fbctf.csr','r') error:2006D080:BIO routines:BIO_new_file:no such file)
nginx: configuration file /etc/nginx/nginx.conf test failed

And in nginx error.log:
[emerg] 3154#0: BIO_new_file("/etc/nginx/certs/fbctf.csr") fail

[2016-05-11 21:17] gsingh93 commented on #22
Are you using the vagrant VM or your own server?

The platform runs on port 80 on whatever server you provision it on. So if you navigate to that URL/IP, what do you see? Is it blank?

[2016-05-11 21:24] gsingh93 commented on #21
The responses here are right. In production mode, we expect you to generate your own SSL certificate to run the site. You can get freely available SSL certificates from [Let's Encrypt](https://letsencrypt.org/).

However, if you're just running the site for development purposes, you can pass "dev" to the provision script instead of "prod", i.e. `./extra/provision.sh dev `pwd``. This will generate

[2016-05-11 21:26] hashtag29 commented on #22
well, i "installed" it in a VM with ubuntu 14.04.... when i type the 10.10.10.5:80 in the browser...nothing happens....

[2016-05-11 21:26] gsingh93 commented on #20
Note that if you provision in dev mode (i.e. `./extra/provision.sh dev `pwd``), self signed certificates are used. We forgot to mention this in the README because we do all of our development on a Vagrant VM, and it provisions in dev mode by default. We'll clarify this in the README.

I haven't run into the other issues, but I'll look into them. Thanks for the report!

[2016-05-11 21:38] patricktm17 commented on #22
same here.. D;

[2016-05-11 21:44] gsingh93 commented on #22
What was the command you ran exactly? From inside the repo, did you run `./extra/provision.sh prod `pwd``? If you do this you will need to provide SSL certs. You should replace `prod` with `dev` in that command, which will take care of all of that for you (but it uses self-signed certificates, so you should *not* use it in production).

I'll be updating the README later today clarifying these thin

[2016-05-11 21:47] hashtag29 commented on #22
I ran that command and provided the paths for the certificates....... ill try the dev!! post the results in a moment!!

[2016-05-11 21:52] patricktm17 commented on #22
@gsingh93 ooh so we have to create our own certs?
when i ran the code it was asking for a place to store the certs for the "prod" one

[2016-05-11 21:55] hashtag29 commented on #22
@patricktm17 I've built mine!!

[2016-05-11 21:56] patricktm17 commented on #22
@hashtag29 it worked for you using dev instead?

[2016-05-11 21:59] gsingh93 commented on #22
@patricktm17 Yea, in prod mode you need to create your own certs. You don't want to be using self-signed certs in production for security reasons.

In dev mode, using a self-signed cert is fine, so we generate it for you.

[2016-05-11 21:59] hashtag29 commented on #22
@patricktm17 it is not done yet....just a min!

[2016-05-11 22:00] hashtag29 commented on #22
@gsingh93  i've sent you an email...did u read that? it is about my doubt...

[2016-05-11 22:00] mpomarole commented on #22
@patricktm17 correct as @gsingh93 mentioned. We will fix the wording on the prod prompt so it is more explicit.

[2016-05-11 22:01] adampankow commented on #22
You guys will not be able to access it at 10.10.10.5 unless you configured your IP address to be that on the VM/box you've installed it on, so be sure you set your IP to that.

My question still stands though @gsingh93 , I can access the web server just fine, but I couldn't seem to find anything stating how to get to the admin panel.

[2016-05-11 22:02] secret-weapon opened #23 "502 Bad Gateway"
run url= https://localhost

server response :
502 Bad Gateway nginx.
what is the problem? :(

[2016-05-11 22:14] hashtag29 commented on #22
using dev... nothing happens on the browser using 10.10.10.5

[2016-05-11 22:15] gsingh93 commented on #22
@hashtag29 did you see any errors during provisioning? Do you see any errors in `/var/log/hhvm/error.log`? Do you see any errors in the console for the browser you're using?

[2016-05-11 22:18] hashtag29 commented on #22
Some part of the deployment.... @gsingh93

/usr/local/bin/flow -> /usr/local/lib/node_modules/flow-bin/cli.js

  ✖ No binary found matching your system. It's probably not supported.
  ✖ flow binary test failed
flow-bin@0.24.2 /usr/local/lib/node_modules/flow-bin
├── logalot@2.1.0 (figures@1.6.0, squeak@1.3.0)
└── bin-wrapper@3.0.2 (lazy-req@1.1.0, os-filter-obj@1.0.3, each-async@1.1.1, bin-check@2

[2016-05-11 22:24] hashtag29 commented on #22
Tried the same thing issue23 is asking... https://localhost ... got a bad gateway  message

[2016-05-11 22:30] gsingh93 opened #24 "Possibly use Let's Encrypt when provisioning in prod mode"
When provisioning in prod mode, users need to specify the path to their certificates they've generated themselves. For some users, this is fine, but others don't want to go through the hassle of creating their own certs. We should consider using Let's Encrypt to generate a cert during provisioning.

[2016-05-11 22:47] gsingh93 commented on #22
[code]
Yea, that's the problem. If you don't have flow, the Flow won't be compiled into JavaScript won't be compiled.

I'm not sure why this would be happening on an Ubuntu 14.04 VM. Can you run `npm install -g flow-bin` to install flow again? Then run `flow version`.

This is one of the reasons we recommend using our Vagrant VM :)

[2016-05-11 22:55] gsingh93 commented on #22
@adampankow

I added this text to the README:

"Once you've provisioned the VM, go to the URL/IP of the server. Click the "Login" link at the top right, enter the admin credentials, and you'll be redirected to the admin page."

Is that what you tried?

[2016-05-11 23:03] hashtag29 commented on #22
@gsingh93 another error...

/usr/local/bin/flow -> /usr/local/lib/node_modules/flow-bin/cli.js

  ✖ No binary found matching your system. It's probably not supported.
  ✖ flow binary test failed
flow-bin@0.24.2 /usr/local/lib/node_modules/flow-bin
├── logalot@2.1.0 (figures@1.6.0, squeak@1.3.0)
└── bin-wrapper@3.0.2 (lazy-req@1.1.0, os-filter-obj@1.0.3, each-async@1.1.1, bin-check@2.0.0, bin-versi

[2016-05-11 23:22] NeoVilsonWong commented on #22
@hashtag29 ,i try generating and solve ssl problem but after surfing nothing you solve it?

[2016-05-11 23:30] nimdavirus commented on #21
Make your own SSL CERTS

sudo openssl genrsa -des3 -out fbctf.key 2048

then

sudo openssl req -new -key fbctf.key -out server.csr

rerun sudo ./extra/provision.sh prod `pwd`

when asked for path enter:

/home/*Whatever your name folder is*/fbctf/

Do it twice.... Enjoy

[2016-05-11 23:37] rfrillman opened #25 "Errors with the provision.sh File"
ubuntu@ip-172-31-40-248:~/facebook-ctf$ git clone https://github.com/facebook/fbctf
Cloning into 'fbctf'...
remote: Counting objects: 4322, done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 4322 (delta 2), reused 0 (delta 0), pack-reused 4315
Receiving objects: 100% (4322/4322), 16.66 MiB | 10.00 MiB/s, done.
Resolving deltas: 100% (2958/2958), done.
Checking connectivity... done.

[2016-05-11 23:48] rfrillman commented on #25
type in the command wrong, disregard

[2016-05-11 23:48] #25 closed

[2016-05-11 23:52] STRML commented on #20
I can confirm all these issues. Its propensity to copy certs over to `/etc/nginx/certs` is also not a great idea with e.g. letsencrypt certs.

With the `AsyncMysqlConnectionPool` error I am unable to get the project started.

[2016-05-11 23:53] javuto commented on #24
We can have an unified solution for both development and production, using Let's Encrypt. For development instead of generating a self signed certificate, we can use the flag `--test-cert`. More info here: [https://letsencrypt.org/getting-started/](https://letsencrypt.org/getting-started/)

[2016-05-12 01:46] trikyas commented on #21
@nimdavirus  Thank you so much 👍

[2016-05-12 02:09] ryuzaki95 opened #26 "Can I install fbctf on Apache2?"
Hello everyone, I have some problem when i install fbctf on Nginx. How to install fbctf on Apache2! Thank everyone!

[2016-05-12 02:43] melona380 commented on #23
Same Issue... ANY SOLUTION?

[2016-05-12 02:50] hashtag29 commented on #22
Not yet @NeoVilsonWong

[2016-05-12 02:52] farberjd commented on #26
You cannot. It seems to be supported only by Ubuntu 14.04.

[2016-05-12 03:12] ryuzaki95 commented on #26
i know that, I use ubuntu 14.04, but i want to install fbctf on Apache2, Not Nginx

[2016-05-12 04:41] gansai commented on #26
Looks like the server code is in Photoshop, you could use Apache2 web server, as it supports LAMP

[2016-05-12 04:41] gansai commented on #26
Autocorrect put it wrong, I had meant PHP, not Photoshop

[2016-05-12 06:00] nicholasykl commented on #23
I would like to know the solution too :(

[2016-05-12 06:05] TheControlFreak commented on #22
Excuse me but I tried running ./extra/provision.sh dev 'pwd' . after a series of complicated lines, I get "[+] fbctf deployment is complete! Ready in https://10.10.10.5" I copy and pasted it in the browser but the page was blank

[2016-05-12 06:44] jashsayani opened #27 "Development mode: Vagrant can't read your current NFS exports"
I followed the README to run the project in development mode. I see the following error:

I am not very familiar with Vagrant, so I am not sure if its an issue with the config file.

[2016-05-12 06:50] mpomarole commented on #22
@TheControlFreak could you provide us with a paste of the stdout/stderr after you run the script?
Also any console logs in your browser when you open the blank page?

We noticed people were having issues accessing https://10.10.10.5 when connected to certain VPNs. Are you on one?

[2016-05-12 06:54] NeoVilsonWong commented on #22
@mpomarole ,i try using vps to install , btw i try access the ip its blank also

[2016-05-12 07:04] NeoVilsonWong commented on #22
@mpomarole ,

here the log
[fbctfinstall.log.txt](https://github.com/facebook/fbctf/files/260752/fbctfinstall.log.txt)

[2016-05-12 07:10] mpomarole commented on #22
@NeoVilsonWong I see that your locale settings by not be configured correctly.

Could you follow the steps to fix that in this thread (http://askubuntu.com/questions/162391/how-do-i-fix-my-locale-issue) and try it again?

If you are still hitting the blank page, could you also paste the logs in `/var/log/hhvm/error.log` for us ?

[2016-05-12 07:15] TheControlFreak commented on #22
@mpomarole I went through my output again and I found the following problems
[Error.txt](https://github.com/facebook/fbctf/files/260764/Error.txt)

[2016-05-12 07:16] NeoVilsonWong commented on #22
@mpomarole okay
<img width="1080" alt="screen shot 2016-05-12 at 3 15 56 pm" src="https://cloud.githubusercontent.com/assets/7342012/15206818/8cf22660-1854-11e6-8324-127c81504724.png">

[2016-05-12 07:18] uppusaikiran commented on #21
I have the keys generation and it is successful. It is stored in the same directory.
NOw see the problem
![screenshot 24](https://cloud.githubusercontent.com/assets/9650342/15206832/b7c22814-183f-11e6-8e8f-5fce97a0ef57.png)
and see the error here
![screenshot 25](https://cloud.githubusercontent.com/assets/9650342/15206848/d3bed0e4-183f-11e6-95f0-2974193d1acf.png)
Can anyone solve the issue

[2016-05-12 07:20] NeoVilsonWong commented on #22
@mpomarole

new rerun log
[rerunfbctfinstall.log.txt](https://github.com/facebook/fbctf/files/260768/rerunfbctfinstall.log.txt)

[2016-05-12 07:23] NeoVilsonWong commented on #22
@mpomarole
<img width="1080" alt="screen shot 2016-05-12 at 3 22 37 pm" src="https://cloud.githubusercontent.com/assets/7342012/15206966/79626398-1855-11e6-90d0-112941f43174.png">

fatal error missing

[2016-05-12 07:30] qazbnm456 commented on #22
I've tried to run in dev mode with docker, and it works perfectly :) If anyone here ran into some problems, maybe you can try my method instead.

Here is the repo: [dockerized_fbctf](https://github.com/qazbnm456/dockerized_fbctf)

[2016-05-12 07:38] mpomarole commented on #20
@STRML could you let us know what version of HHVM and Ubuntu you are running?

[2016-05-12 07:38] vincentcox opened #28 "/vendor/autoload not found causing a 500 server error code (blanc page of death)"
When using the development installation I get a 500 error code when browsing to the page. This is causing a blanc page.
This is the output of `tail /var/log/hhvm/error.log` :

`[Thu May 12 03:29:09 2016] [hphp] [2074:7f53877ff700:2:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf/src/index.php on line 3
[Thu May 12 03:29:14 2016] [hphp] [2074:7f53877

[2016-05-12 07:41] NeoVilsonWong commented on #22
@qazbnm456 ,
thanks but can it run in server ip?or just 10.10.10.5?

[2016-05-12 07:42] qazbnm456 commented on #28
/vendor/autoload.php should be there if your installation is successful. Thus, I believe that there are some errors in your installation.

[2016-05-12 07:43] gsingh93 commented on #26
The platform should work fine with Apache, but you will need to create your own configuration file for it.

We may decide to provide an Apache configuration file in the future. Note that our current NGINX configuration file should protect you against many recent SSL vulnerabilities, and if you decide to create your own configuration, you should make sure to include similar settings.

[2016-05-12 07:47] vincentcox commented on #28
Strange, I used a fresh installation of the recommend Ubuntu 14.04 and followed the installation instructions from the readme file. Unfortunately, I am not experienced with hhvm or node.js to find the root cause.

[2016-05-12 07:47] qazbnm456 commented on #22
@NeoVilsonWong You can bind ports to your host like -p 81:80, which means that you can access to internal fbctf server(port 80) through your host ip(port 81).

[2016-05-12 07:57] qazbnm456 commented on #28
If you are willing to try another method, maybe you could try running with docker. I wrote some instructions [here](https://github.com/qazbnm456/dockerized_fbctf). But now can only run under dev mode.

To your question, maybe you could paste some installation logs here that you think it's some kind of error, which can help fbctf members to fix those potential problems.

[2016-05-12 08:00] NeoVilsonWong commented on #22
@qazbnm456

here error
<img width="390" alt="screen shot 2016-05-12 at 3 59 00 pm" src="https://cloud.githubusercontent.com/assets/7342012/15207756/9864d8f2-185a-11e6-8248-5cb63ff2716c.png">

[2016-05-12 08:02] gsingh93 commented on #22
@qazbnm456 Dockerizing was on our roadmap, so a PR once you get any issues sorted out would be great!

[2016-05-12 08:04] vincentcox commented on #28
Thanks! Docker seems a good option to test it out.
I tried with another server, but now I allocated 4Gig Swap to ensure there was no memory issue. I also set the locales to avoid potential errors. But unfortunately I got the same 500 server error.
The output is listed here: http://pastebin.com/p2iXpuhR

[2016-05-12 08:13] mpomarole commented on #20
@Dor1s
We recommend using Ubuntu 14.04 and HHVM 3.13 to run the platform at this moment. We are confirming with HHVM team when Ubuntu 16 will be supported.

[2016-05-12 08:14] mpomarole commented on #21
@uppusaikiran Could you link a paste to the entire provision logs for us? That way we can help you debug this better.

[2016-05-12 08:16] mpomarole commented on #23
Could you post more details of what you ran to provision ? And please provide a past of the logs so we can help you better.

Instructions to provision for development mode are at: https://github.com/facebook/fbctf#development

[2016-05-12 08:17] mpomarole commented on #28
@vincentcox Do you have your locale settings configured correctly? The vendor folder won't get created properly if you don't. I recommend following the instructions on this thread: http://askubuntu.com/questions/162391/how-do-i-fix-my-locale-issue

[2016-05-12 08:17] Dor1s commented on #20
Thanks @mpomarole for clarification! Will try :)

[2016-05-12 08:18] mpomarole commented on #22
@NeoVilsonWong did you fix your locale settings before provisioning again?

[2016-05-12 08:45] kelunik commented on #24
@javuto `--test-cert` just uses the staging server instead of the production one, so will generate non-trusted certificates. You still have to provide the challenges publicly available, so that's probably not an option.

[2016-05-12 08:49] NeoVilsonWong commented on #22
@mpomarole ,Yes

[2016-05-12 09:23] uppusaikiran commented on #21
Can i implement it in ubuntu 15?

[2016-05-12 09:34] uppusaikiran commented on #21
What to type in the pwd field?

[2016-05-12 09:37] mpomarole commented on #27
What OS are you running this in?
Could you past here the output of `vagrant --version``?

[2016-05-12 09:40] mpomarole commented on #21
You can run the provisioning script like this from fbctf dir:

[code]

Where pwd is just a unix command that will print your current dir, which is the path to the ctf project.

We recommend you use Ubuntu 14.04 for provisioning in dev and prod or use `vagrant up` to start a VM with Ubuntu 14.04 for development.

[2016-05-12 09:47] vincentcox commented on #28
Thanks! It turns out it's indeed the locale problem. I configured my locales and now I have successfully installed it!

[2016-05-12 09:47] #28 closed

[2016-05-12 09:48] uppusaikiran commented on #21
[code]

But still no result in https://10.10.10.5

[2016-05-12 09:49] uppusaikiran commented on #21
@mpomarole @gsingh93 Can you tell me how to solve this?

[2016-05-12 09:57] farooqy opened #30 "It finishes installing but it doesnt prompt for the ssl key or cert"
If finishes installing all but it shows these few errors
at the top:-
[+] Copying all CTF code to destination folder
rsync: change_dir "/home/ubuntu/workspace/fbctf//pwd" failed: No such file or directory (2)
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1183) [sender=3.1.0]

and then at the end:-

chmod: cannot access ‘/var/www/fbctf/src/data/attachm

[2016-05-12 10:20] qazbnm456 commented on #22
@NeoVilsonWong Everything goes well on my docker, perhaps you can try again or pull my image on [dockerhub](https://hub.docker.com/r/qazbnm456/dockerized_fbctf/). Further instructions updated just now.

@gsingh93 Okay, I'll get any issues sorted out a.s.a.p. with docker solution. Once I've done, I'll send a PR immediatly.

[2016-05-12 10:34] mpomarole commented on #30
You need to run provision with
[code]
Instead of
[code]

pws is a unix command that will print out your correct directory. Which is the path where you cloned fbctf.

[2016-05-12 11:17] farooqy commented on #30
Thanks it worked, I entered the ssl cert and key directories, it was successful, but the nginx seems to fail again, and mysql server. Below is where the error begins to the end.

nginx: [emerg] PEM_read_bio_X509_AUX("/etc/nginx/certs/fbctf.csr") failed (SSL: error:0906D06C:PEM routines:PEM_read_bio:no start line:Expecting: TRUSTED CERTIFICATE)
nginx: configuration file /etc/nginx/nginx.conf test f

[2016-05-12 11:24] qazbnm456 commented on #30
@farooqy You should double check if certs are loading correctly, and typing `service mysql start` to solve "Can't connect to local MySQL server through socket" problem.

[2016-05-12 12:19] farooqy commented on #30
@qazbnm456 I started mysql but now access is denied, but it generates the password for the site, but the site doesnt load.

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

[2016-05-12 12:23] qazbnm456 commented on #30
After mysql server started, you are supposed to import db like extra/lib.sh did.

[2016-05-12 12:39] rverton commented on #23
I had this problem when trying to install it on a 14.04 32-bit ubuntu. hhvm fails to install (64bit required) and so the gateway nginx tries to connect to (127.0.0.1:9000) is not running (thus the 502 Bad Gateway error). Can you check if hhvm is installed and if there is a port 9000 opened?

[2016-05-12 12:48] rverton opened #31 "Fatal hphp error after fresh install: ../vendor/autoload.php not found."
I just did a fresh install (development install instructions without vagrant) to test this platform and see how it works. After installing successful on Ubuntu 14.04, I get a HTTP ERROR 500 when connection via https.

_/var/log/hhvm/error.log_

    [Thu May 12 14:36:44 2016] [hphp] [7068:7f3385fff700:3:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf

[2016-05-12 13:05] fiht commented on #22
Hello,everyone.I'm trying to install this on my vps. My step is:
1. install git: apt-get install git
2. get the source code: git clone https://github.com/facebook/fbctf
3. install it as READ ME: cd fbctf && ./extra/provision.sh prod `pwd`
4. when It show's

I typed enter and the script continue run
5. Install completed, It shows

[+] Remember install the same version of unison (2.48.3) in your hos

[2016-05-12 13:19] uppusaikiran commented on #21
Can anyone tell me about this error
[code]

[2016-05-12 13:46] mpomarole commented on #21
@uppusaikiran you want to be running

[code]

instead of

[code]

Otherwise you are saying pwd is the directory the project was cloned in.

[2016-05-12 13:48] mpomarole commented on #31
@rverton, you seem to have the same problem detailed on #28. Could you follow the steps posted there?

[2016-05-12 13:49] #31 closed

[2016-05-12 13:51] mpomarole commented on #22
@fiht you want to be running
[code]
instead of
[code]

If you are deploying in prod, you need to add the SSL certificate you have for your site when the provisioning script prompts you. If you do not have a certificate ready yet, you can just provision on dev mode (./extra/provision.sh dev `pwd`) and the script will issue self-signed certificates for you. Check issue #24 for improvements on this w

[2016-05-12 14:00] hashtag29 commented on #22
still not running.... :(

[2016-05-12 14:07] adampankow commented on #22
@gsingh93 I tried logging in with the creds, but it just sat at the login screen.

[2016-05-12 14:17] landmanmanc opened #32 "Error in HHVM"
Installed the source with the dev option on ubuntu 14.04 (64Bit)

Had to install hhvm manually because it failed with the script. After installation nginx gives a http 500 error.

In /var/log/hhvm/error.log the following does occure :

Catchable fatal error: Hack type error: Unbound name: :xhp (an object type) at /var/www/fbctf/src/Router.php line 26

Any idea how to fix this ?

[2016-05-12 15:14] no1rscyber commented on #21
We built ours as follows:

sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf

sudo openssl genrsa -des3 -out fbctf.key 2048

sudo openssl req -new -key fbctf.key -out fbctf.csr

./extra/provision.sh prod `pwd`

No HTTPS services are running on the server

[2016-05-12 15:40] nicholasykl commented on #23
I believe I have this solved by using the 64bit version of Ubuntu 14.04.
I clean installed (easy install) the OS on the 64bit VMware Player, and didn't update any pre-installed packages. I then follow the readme instructions to setup the DEV environment.

[2016-05-12 16:17] ryuzaki95 commented on #26
So how to create a own config. Thank you

[2016-05-12 16:18] mpomarole commented on #32
I am going to guess `composer install` didn't finish properly and didn't create the autoload map correctly.
Could you try running the provision script again?

[code]

[2016-05-12 16:51] STRML commented on #20
@mpomarole You're correct, I was on 16.04 which is apparently not supported by HHVM > 3.11. I tried compiling from source but there was some linkage issue. Reverted to 14.04 and all seems good.

[2016-05-12 17:02] #20 closed

[2016-05-12 17:25] jonygrimes opened #33 "Vagrant up fails on Windows Host"
Running `vagrant up` to do local development on a Windows host fails due to the default [git line endings behavior](https://help.github.com/articles/dealing-with-line-endings/).  This causes the provisioning script to fail when it sources `extra/lib/.sh`.

This behavior can be fixed with a `.gitattributes` file forcing `LF` line endings for `*.sh` files.

Output of `vagrant up` on Windows 7:
[code

[2016-05-12 19:24] NeoVilsonWong commented on #23
@mpomarole new error

[502error.txt](https://github.com/facebook/fbctf/files/262098/502error.txt)

[2016-05-12 19:26] mpomarole commented on #23
@NeoVilsonWong you are still having the problem of locale not being set correctly. Did you try http://askubuntu.com/questions/162391/how-do-i-fix-my-locale-issue ?

Specially adding `export LC_ALL="en_US.UTF-8"` to your .bashrc file?

[2016-05-12 19:29] NeoVilsonWong commented on #23
@mpomarole  done check this
<img width="254" alt="screen shot 2016-05-13 at 3 28 50 am" src="https://cloud.githubusercontent.com/assets/7342012/15227654/de8d0df8-18ba-11e6-929f-deed88b03b63.png">

[2016-05-12 19:41] mpomarole commented on #23
@NeoVilsonWong what you have below:

[code]

Is clearly what is failing to install all the proper packages on the provision script.

[2016-05-12 19:53] melona380 commented on #23
Hi, I found a temporary solution and it's not a permanent solution but it will get you up and running for now.
I was trying to run the development version on Ubuntu 14.04 and I was getting the 502 Gateway timeout. Using the argumnet 'dev' Most people are using the development version just because it auto generates the SSL certificates. What I did to fix it was
1. Install fresh Ubuntu 14.04
2. Gene

[2016-05-12 19:59] mpomarole commented on #22
@adampankow what creds did you use to login?
In dev provision, the username is `admin` and password is `password.
In prod, the username is `admin` and the password is printed at the very end of the provision script.

[2016-05-12 20:27] gsingh93 commented on #22
@adampankow when you say "sat at the login screen", the input fields turn red (indicating an incorrect username/password)?

If nothing happens, not even a change of color, do you see errors in `/var/log/hhvm/error.log`? Did you see any errors while provisioning?

[2016-05-12 21:39] cmtzco commented on #32
I tried running the provision script again, had to manually install hhvm.  Instructions here https://docs.hhvm.com/hhvm/installation/linux#ubuntu-14.04-trusty

Used the following for 14.04
[code]

[2016-05-12 22:51] aifrs96 opened #35 "Setting Up on OS X El Capitan"
Hey guys, have someone doing this on OS X ?

[2016-05-13 00:11] gsingh93 commented on #35
You should be using the Vagrant VM for development on OS X. For production deployment, only Ubuntu 14.04 is supported.

[2016-05-13 01:09] jashsayani commented on #27
Im running: Mac OS X 10.11.5 Public Beta

Vagrant 1.8.1

[2016-05-13 04:38] nimdavirus commented on #21
yeah check the paths.

visit your /var/logs/nginx/

tail the error.log file

You will find that its trying to pull the certs from a different directory than where you made them.

Just copy them over to folder that nginx is trying to pull them from. You can do something other ninja stuff like edit the .conf files for the nginx web server settings but this is a lot faster.

Lastly, read the crt and

[2016-05-13 07:06] putthik opened #37 "Issuer Certificate Not Found"
I installed the source with the dev option on ubuntu 14.04 (64Bit)

After finish i got this error

`rm: cannot remove ‘/etc/nginx/sites-enabled/default’: No such file or directory
ln: failed to create symbolic link ‘/etc/nginx/sites-enabled/fbctf.conf’: File exists
`
`nginx: [warn] "ssl_stapling" ignored, issuer certificate not found`

`* Restarting nginx nginx

[2016-05-13 15:11] zky001 opened #38 "maybe router or SSL issue"
I installed it with README.md,and I type my ip with https://, open my chrome,the out put as follows
`{ try { $response = await Router::genRoute(); echo $response; } catch (RedirectException $e) { error_log($e->getTraceAsString()); http_response_code($e->getStatusCode()); Utils::redirect($e->getPath()); } } /* HH_IGNORE_ERROR[1002] */ \HH\Asio\join(genInit());`

[2016-05-13 15:41] mpomarole commented on #23
I am closing this. Feel free to re-open if you still need help.

[2016-05-13 15:41] #23 closed

[2016-05-13 15:42] mpomarole commented on #32
I am closing this. Feel free to re-open if you are still having issues.

[2016-05-13 15:42] #32 closed

[2016-05-13 15:43] mpomarole commented on #33
I am closing this since the PR is in. @jonygrimes feel free to re-open if you are still having issues.

[2016-05-13 15:43] #33 closed

[2016-05-13 15:43] mpomarole commented on #35
@aifrs96 feel free to re-open if you still need help.

[2016-05-13 15:43] #35 closed

[2016-05-13 16:21] sundw2014 commented on #37
Password of mysql is set in ```extra/provision.sh``` (line 2).
[code]

You can just ignore the nginx warning  ```issuer certificate not found```. It does't matter.

[2016-05-13 16:37] NeoVilsonWong opened #39 "Admin Error Cant Login ?"
Admin Error Cant Login ?
[fbctferror.log.txt](https://github.com/facebook/fbctf/files/263697/fbctferror.log.txt)

[2016-05-13 16:39] NeoVilsonWong commented on #39
@mpomarole ,hi sorry for disturb can you help me see this? success but cant login with admin account~

[2016-05-13 16:45] Epivalent opened #40 "change map / country definitions"
how deeply embedded into the code is the current map?
it'd be nice to swap in differently titled and shaped areas for bases/flags/etc.

[2016-05-13 16:47] mpomarole commented on #39
@NeoVilsonWong  what was the user and password you used to login?

[2016-05-13 17:06] NeoVilsonWong commented on #39
@mpomarole admin : password right? after finished install there mention like this~

[2016-05-13 17:07] NeoVilsonWong commented on #39
@mpomarole
<img width="369" alt="screen shot 2016-05-14 at 1 07 14 am" src="https://cloud.githubusercontent.com/assets/7342012/15255702/3b6fb2a4-1970-11e6-863e-08f5a1fe2d53.png">

[2016-05-13 18:24] Epivalent commented on #40
I see they're defined here: https://github.com/facebook/fbctf/blob/5d75a0a5b71d724ff71ac301e99ad5ed99a7947b/database/countries.sql

[2016-05-13 18:42] javuto commented on #40
Map is drawn using d3. Will you be more interested in modifying the current map with other shapes or have a total different UI?

[2016-05-13 18:45] javuto opened #41 "Implement a modular way to use a different UI or customized them"
Currently the gameboard is the map of the world. It would be useful to have a way to use different UIs and to fully customized them, using a themed approach.

[2016-05-13 19:00] jonchristmas opened #42 "Feature Request: Ability to have multiple challenges in a single country."
It would be nice if I setup say a server that has multiple levels of vulnerabilities so that to conquer the country there are different levels of owning the country. I.E. level 1 is a simple exploit that gets you unpriv access for an account that cant login to the system, Level 2 the user manages to gain access to a shell on the system with limited privs, level 3 root access. #

[2016-05-13 19:36] Epivalent commented on #40
It would be nice to be able to customise the UI entirely or plug in modular solution types. We'd like to have interactive levels with different kinds of user interaction for a more educationally-targeted challenge system to teach basic infosec concepts.

[2016-05-13 19:50] dylanjacob opened #43 "Documentation for how to set up Base Levels"
There is documentation for setting up quizzes and Flag Levels, but none for Base Levels.

[2016-05-13 20:25] christ0ph3r commented on #39
I had a similar issue.  I installed it on a brand new ubuntu 14.04 server on the dev mode with out Vagrant.

[code]

Once I got to the login page I put

admin
password

and it did not work and the form fields turned red.  I copied and pasted it from the terminal and it did not work.

[2016-05-13 20:34] dylanjacob commented on #42
👍

[2016-05-13 20:36] dylanjacob commented on #10
👍

[2016-05-13 20:37] MrClever00 commented on #22
blank page in 10.10.10.5

[2016-05-13 20:37] dylanjacob commented on #5
👍 that would be especially useful for a massive amount of quiz levels

[2016-05-13 20:37] 0duck0 opened #44 "Install script not working?"
I tried the provision.sh script several times but was unsuccessful until I created the path /var/www/ and moved the fbctf folder there.  Then ran the script from that location.  I am running Ubuntu 14 LTS

[2016-05-13 20:39] MrClever00 commented on #22
@mpomarole `./extra/provision.sh prod `pwd``it stucks in somewhere

[2016-05-13 20:40] NeoVilsonWong commented on #39
@christ0ph3r ,

same issue here~

[2016-05-13 20:59] mjksec commented on #22
I get the following in /var/log/hhvm/error.log [hphp] [7772:7f137a3ff700:1:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf/src/index.php on line 3

When I browse to the Ip of my server I get an nginx 500 error.

[2016-05-13 21:03] christ0ph3r commented on #39
I tried again.  The only thing I did differently was use a $10 server instead of a $5.  The login works now.

[2016-05-13 21:46] hashtag29 opened #45 "Can Anyone tell me wft is going on?"
when i call vagrant up.... i receive this messages.....

Bringing machine 'default' up with 'virtualbox' provider...
==> default: Clearing any previously set forwarded ports...
==> default: Clearing any previously set network interfaces...
==> default: Preparing network interfaces based on configuration...
    default: Adapter 1: nat
    default: Adapter 2: hostonly
==> default: Forwarding ports..

[2016-05-13 22:07] javuto commented on #45
Have you tried to get the VM image again? You can run ```vagrant destroy -f``` and then ```rm -Rf /root/VirtualBox VMs/fbctf_default_1463173658455_80619``` to clear things up, and run ```vagrant up``` right afterwards

[2016-05-13 22:13] hashtag29 commented on #45
Ill try

[2016-05-13 22:44] hashtag29 commented on #45
Everything gone Ok.... thank you @javuto  for the instructions!!!

[2016-05-13 22:47] MatsAnd opened #46 "Login credentials in dev build."
Hi!
I did just setup a clean server with ubuntu so I could test this as the documentation said.

When I setup the server the console outputs this:
**[http://matsa.no/i/CSFclk](http://matsa.no/i/CSFclk)**
And when I try to login with the credentials admin, password I get the "wrong password" notification.

Does someone know about a fix on this issue?

[2016-05-13 22:51] NeoVilsonWong commented on #39
@christ0ph3r ,

lol? seriously???? damn!!

you got fix the locale?

[2016-05-13 22:56] javuto commented on #46
Is the data properly created in the DB? There is a message that seems to be a out of memory error and that may make things to break. Can you show what is being output to ```/var/log/hhvm/error.log```?

[2016-05-13 22:57] javuto commented on #45
Happy to help!

[2016-05-13 22:57] #45 closed

[2016-05-13 23:00] MatsAnd commented on #46
@javuto [error.log.txt](https://github.com/facebook/fbctf/files/264201/error.log.txt)

[2016-05-13 23:03] javuto commented on #44
Hi there, can you attach the output of the provision?

[2016-05-13 23:18] dylanjacob opened #47 "Feature Request: Attach files to Quiz Levels"
There should be a way to attach files, such as log files, pcaps, etc. to Quiz levels.

[2016-05-14 03:34] andrewrenfroe opened #48 "Wont load"
**System info**
nodejs -v : v0.10.25
npm -v: 1.3.10
OS
ubuntu 14.04 LTS

**command I ran:**
sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
 **./extra/provision.sh dev `pwd`**
I chose dev mode in the hopes to have a little fun.

output 'short'
[code]

All other npm packages about this didn't seem to cause any problems.

[2016-05-14 04:09] qazbnm456 commented on #48
Can you show what is being output to /var/log/hhvm/error.log?

[2016-05-14 04:14] gustavopinto opened #49 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. **CTF** was in my list. However, I observed that the software history of when the software was developed as a proprietary software was not kept after the transition to Github.

K

[2016-05-14 04:45] andrewrenfroe commented on #48
@qazbnm456 it's empty

[2016-05-14 04:59] andrewrenfroe commented on #48
Just reran the script.  It is requesting --force.
Gave these two warning
npm WARN engine deep-extend@0.4.1: wanted: {"node":">=0.12.0","iojs":">=1.0.0"} (current: {"node":"v0.10.25","npm":"1.3.10"})

npm WARN engine is-buffer@1.1.3: wanted: {"node":">=0.12"} (current: {"node":"v0.10.25","npm":"1.3.10"})

[2016-05-14 06:09] smileboywtu opened #50 "[fedora]anyway run this on fedora?"

[2016-05-14 06:31] mpomarole commented on #22
@mjksec please try the suggestion I added on this issue: https://github.com/facebook/fbctf/issues/28

I am going to guess your locale are not set correctly.

[2016-05-14 06:32] mpomarole commented on #22
@MrClever00 can you provide us with the output of you provision script so we can help you?

[2016-05-14 06:33] mpomarole commented on #44
Also please take a look at the other open issues about provision with possible solutions to your problem.

[2016-05-14 06:34] mpomarole commented on #50
I haven't tried it, so no promises it will work, but fedora can run vagrant. So after you clone the repo, run `vagrant up` and it will create a Ubuntu VM to run the site. Then you can access it on port 10.10.10.5.

[2016-05-14 06:34] #50 closed

[2016-05-14 06:35] mpomarole commented on #49
@gustavopinto regarding question 1, we have kept the history. If you look at commit history you will see the whole history of development of this project.

[2016-05-14 06:37] mpomarole commented on #48
Did you run
[code]
or
[code]
The first one says to provision on a local folder called `pwd`, which doesn't exist. The second says to provision on the current path that the unix command `pwd` returns.

[2016-05-14 06:38] mpomarole commented on #47
This is a great suggestion. We will look into adding it. Or feel free to send us a Pull Request :)

[2016-05-14 06:39] mpomarole commented on #46
@MatsAnd could you paste here the whole output from the provisioning script as well?

[2016-05-14 06:42] mpomarole commented on #42
So you are saying something like the country would only be conquered if someone inputs multiple flags. That could be interesting.

Or we could make certain countries dependent on victories of previous open countries. So let's say you only open access to country A if you have conquered country B. B would be harder challenge than A.

[2016-05-14 06:44] mpomarole commented on #39
@christ0ph3r, @NeoVilsonWong could you paste the contents of `/var/log/hhvm/error.log` after you fail to login into admin panel?

[2016-05-14 06:46] mpomarole commented on #38
Could you paste the output of the provision script and `/var/log/hhvm/error.log`?

[2016-05-14 06:57] smileboywtu commented on #50
provider error:

==> default: Box 'ubuntu/trusty64' could not be found. Attempting to find and install...
    default: Box Provider: libvirt
    default: Box Version: >= 0
==> default: Loading metadata for box 'ubuntu/trusty64'
    default: URL: https://atlas.hashicorp.com/ubuntu/trusty64
The box you're attempting to add doesn't support the provider
you requested. Please find an alternate box or u

[2016-05-14 07:14] gustavopinto commented on #49
Hi @mpomarole,

Thanks for your super fast reply.

While browsing the commits history, this is the first page that Github shows to me:

https://github.com/facebook/fbctf/commits/master?page=11

The second commit from bottom to top seems to import the existing code all at once (52k additions in one commit):

https://github.com/facebook/fbctf/commit/df024decdcdee03e933a4138095f0b9ab17736bf

Was this

[2016-05-14 07:20] gsingh93 commented on #49
I think @javuto might have made a mistake during the import.

This code was maintained in a separate Git repo, and then moved to this Git repo. The histories should be the exact same, but I think something went wrong with how @javuto moved it. It doesn't look like there was any loss in history, as the rest of the commits seem fine.

[2016-05-14 07:25] gsingh93 commented on #50
Are you using our Vagrantfile? Our file uses VirtualBox as the provider. Can you try it with that?

[2016-05-14 07:27] smileboywtu commented on #50
cd /fbctf
vagrant up

now I just try other provider, I'm not very familiar with vagrant.

[2016-05-14 07:29] gsingh93 commented on #48
[code]

Can you try installing curl first (`sudo apt-get install curl`). I forget if `curl` is installed by default on Ubuntu, but our provision script doesn't provide it. It's been working for me without explicitly installing it though, so I'm not sure what's going on.

[2016-05-14 07:30] smileboywtu commented on #50
[code]

virtualbox 5.0.20

[2016-05-14 07:39] gsingh93 commented on #40
Looks like @javuto made https://github.com/facebook/fbctf/issues/41 to track this, so closing this one.

[2016-05-14 07:39] #40 closed

[2016-05-14 07:41] gsingh93 commented on #46
[code]

That's interesting...

[2016-05-14 07:42] smileboywtu commented on #50
will this the reason for showing this error:

Bringing machine 'default' up with 'libvirt' provider...

[2016-05-14 07:47] smileboywtu commented on #50
the answer is yes for newly installed vagrant, just add the line:

[code]
make sure to set the provider for vagrant first.

[2016-05-14 07:48] gsingh93 commented on #39
HHVM does use a good amount of RAM, which may be why this helped.

[2016-05-14 08:21] zky001 commented on #38
I haven't find `/var/log/hhvm/error.log` such file and my ubuntu's ip is 115.159.190.235

[2016-05-14 09:17] gustavopinto commented on #49
Dear @javuto, do you mind in clarifying this issue.

Thank you all,

Gustavo

[2016-05-14 09:23] uppusaikiran commented on #21
Done all the commands perfeclty in dev mode but still no output in the browser

[code]

[2016-05-14 09:28] uppusaikiran commented on #21
@adampankow  @nimdavirus @marcosmejia Did anyone found the solution to this problem

[2016-05-14 09:43] waelsv commented on #46
Generate the missing password hash for the admin account:
[code]

Then update the fbctf table like so:
[code]

You should be able to login after that.

[2016-05-14 10:26] uppusaikiran commented on #21
![screenshot 28](https://cloud.githubusercontent.com/assets/9650342/15267899/fd1e35e4-19eb-11e6-9cb2-e98e131c38ba.png)
But how can i play in the dev environment ,i cant be able to sign up it is showing countdown page

[2016-05-14 10:33] mpomarole commented on #21
@uppusaikiran click Login, and use `admin` as username and `password` as password. You will login to the admin panel. There you can create teams, open registration for new teams, setup levels, etc.

[2016-05-14 10:33] uppusaikiran commented on #21
@mpomarole  Thanks

[2016-05-14 10:33] #21 closed

[2016-05-14 15:09] constance628 commented on #10
Where to click "Begin Game" manually to start a game?
TIMER of Configuration only GAME DURATION can be set, did I miss something?

[2016-05-14 15:13] MatsAnd commented on #46
@waelsv Thank you! That worked.

[2016-05-14 15:13] #46 closed

[2016-05-14 16:23] xiaji261 opened #51 "Failed to add flag level"
I tried to add flag level. When I completed details and clicked "create" button, but no new flag level was created. It seems that the create button doesn't make sense. Could you kindly help me to solve this issue? Thanks very much

[2016-05-14 17:03] mjksec commented on #22
@mpomarole I tried your suggestion. Provisioned a new fresh system. First steps were to ensure that locale was set correctly before beginning.
Still same error.

`Sat May 14 13:00:03 2016] [hphp] [8549:7f0689fff700:1:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf/src/index.php on line 3`

[2016-05-14 17:21] javuto commented on #51
Can you check for errors in ```/var/log/hhvm/error.log```? Do other operations that involve database write access work? For example, can you create new teams or categories? Can you create new Quiz levels?

[2016-05-14 17:30] nerdonator opened #52 "Admin Page Failed to Load"

[2016-05-14 17:52] #52 closed

[2016-05-14 18:02] NeoVilsonWong commented on #39
@mpomarole  here FYI

<img width="1274" alt="screen shot 2016-05-15 at 2 02 09 am" src="https://cloud.githubusercontent.com/assets/7342012/15269937/1d8dc236-1a41-11e6-8fa1-3f7debb902fe.png">

[2016-05-14 18:16] smileboywtu commented on #39
use vagrant as password to login and get access to see the log

[2016-05-14 18:19] NeoVilsonWong commented on #39
@smileboywtu same
<img width="1274" alt="screen shot 2016-05-15 at 2 02 09 am" src="https://cloud.githubusercontent.com/assets/7342012/15270002/68b993f0-1a43-11e6-8790-78302bba4d5a.png">

[2016-05-14 18:42] mpomarole commented on #22
@mjksec could you paste the entire output of the provision script please ?

[2016-05-14 18:53] mpomarole commented on #10
@constance628 you want to be clicking on the button highlighted to being game:
<img width="1396" alt="screen shot 2016-05-14 at 19 52 30" src="https://cloud.githubusercontent.com/assets/333924/15270166/7d4fcd92-1a0d-11e6-919a-e936024e39c1.png">

[2016-05-14 18:54] MrClever00 commented on #22
@mpomarole
`akwin@akwin-SVE1512H1EW:~/fbctf$ ./extra/provision.sh dev pwd
[+] Provisioning in dev mode
[+] Creating code folder /var/www/fbctf
[+] Copying all CTF code to destination folder
[sudo] password for akwin:
rsync: change_dir "/home/akwin/fbctf//pwd" failed: No such file or directory (2)
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1183) [se

[2016-05-14 18:55] mpomarole commented on #39
@NeoVilsonWong thanks for letting us know. There were a couple more people that had this problem.

If you follow what @waelsv posted in https://github.com/facebook/fbctf/issues/46#issuecomment-219206374 you will fix that issue.

[2016-05-14 18:57] MrClever00 commented on #22
Can't someone just add a video instructions ?? you know the easiest way

[2016-05-14 19:08] NeoVilsonWong commented on #39
@mpomarole ,follow by the following but still same

openssl passwd -1 password

mysql --user=root --password=root
use fbctf;
UPDATE teams
 SET password_hash='hash_generated_before'
 WHERE name='admin';

[2016-05-14 19:12] NeoVilsonWong commented on #39
@mpomarole , update status ~ Solve done ~ Thanks Alot

[2016-05-14 21:16] mikimaine opened #53 "white page after the install finish and said ready in https://10.10.10.5"
after i have run the commands as the instruction, it downloaded all the files and give me the message fbctf deployment is complete! ready in https://10.10.10.5 when i hit that server in my browser it is a white page. no error message or nothing simply empty.

what did i have done wrong ??

[2016-05-14 22:17] alongtin83 opened #54 "Shows nothing in the browser"
So I installed ubuntu running a vm using vmwareplayer and all installs but i get nothing at the 10.10.10.5 address

Do I need to install anything special in ubuntu to get it to work or installing openssh is all I need to install in ubuntu and the code will install the rest?

this is what I ran
sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh dev `p

[2016-05-14 22:26] mpomarole commented on #54
1. Did you run pwd without the ticks? You need to run it like:
[code]
to get the current directory passed as argument to the script.

2. Could you paste the output you get from provision for us to help debug?

[2016-05-14 22:29] mpomarole commented on #51
Did you refresh the page after adding the level? We don't have those actions ajaxified yet so you would need a refresh to see the new challenge.

[2016-05-14 22:30] mpomarole commented on #53
Could you please paste the output of the provision script and `/var/log/hhvm/error.log` for us to help debug your problems?

[2016-05-14 22:31] gsingh93 commented on #10
@javuto should we move that to "Controls" instead?

[2016-05-14 22:38] gsingh93 commented on #51
If the challenge was created but the page required a manual refresh, that's a bug as well. The page should refresh automatically.

I'd like to see `/var/log/hhvm/error.log` as well.

[2016-05-14 23:34] alongtin83 commented on #54
My server IP is different then the 10.10.10.5 does that matter as well

this is all i could get from it

npm http GET https://registry.npmjs.org/date-now/-/date-now-0.1.4.tgz
npm http GET https://registry.npmjs.org/json-stable-stringify/-/json-stable-stringify-0.0.1.tgz
npm http GET https://registry.npmjs.org/stream-splicer
npm http 304 https://registry.npmjs.org/readable-stream
npm http GET https

[2016-05-14 23:40] mikimaine commented on #53
[Fri May 13 21:04:39 2016] [hphp] [10503:7f23283ff700:1:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf/src/index.php on line 3
[Fri May 13 21:04:44 2016] [hphp] [10503:7f23283ff700:4:000001] [] \nFatal error: require_once(../vendor/autoload.php): File not found in /var/www/fbctf/src/index.php on line 3
[Fri May 13 21:04:53 2016] [hphp] [10503:7f232

[2016-05-14 23:40] constance628 commented on #10
@mpomarole Thank you, I didn't notice that there is a scroll bar beside main menu....

[2016-05-14 23:41] mikimaine commented on #53
what did i miss why is not composer available?

[2016-05-14 23:53] alongtin83 commented on #54
ok I got it working now

so i just need to setup my own games I take it

is there any documents that will help you setup a game

[2016-05-15 00:41] w3bm0nk3y opened #56 "Changes for running on 10.10.10.x networks"
When the end user's network is 10.10.10.x and runs `vagrant up` they will run into the following error:
`The specified host network collides with a non-hostonly network!`

[2016-05-15 00:43] smileboywtu commented on #53
just use ssh to connect to you vagrant, and clone this repo, run the provision.sh, to see what's wrong with it. i get some error duo to network and without install g++, fail to install nodejs module,you shoulh check it.

[2016-05-15 00:47] smileboywtu commented on #54
how you fix up the eslint error?

[2016-05-15 00:58] gsingh93 commented on #56
First of all, you mean `10.0.1.x`. Secondly, just change the IP in the Vagrantfile before running `vagrant up`: https://github.com/facebook/fbctf/blob/master/Vagrantfile#L8

We may add a troubleshooting section in the future with this info.

[2016-05-15 00:58] #56 closed

[2016-05-15 00:59] gsingh93 commented on #49
I clarified with @javuto offline, there was no mistake importing the code to the new repository. He simply did not use Git before that point.

[2016-05-15 00:59] #49 closed

[2016-05-15 01:16] w3bm0nk3y commented on #56
Thank you for the response. I did mean 10.10.10.x as my ip address is 10.10.10.21 that caused the error.  I changed the IP address in the Vagrantfile from this:
`config.vm.network "private_network", ip: "10.10.10.5"`
to
`config.vm.network "private_network", ip: "10.10.11.5"`
as well as trying
`config.vm.network "private_network", type: "dhcp"`

All of the changes ended up giving the following erro

[2016-05-15 01:33] #54 closed

[2016-05-15 01:35] javuto commented on #54
@alongtin83 now that you have the platform up and running, you just need to add levels. You have a couple of sample here: https://github.com/facebook/fbctf/tree/master/demo_levels

[2016-05-15 01:35] javuto commented on #54
@smileboywtu what is the error? Can you create a separate issue for that? Thanks

[2016-05-15 02:41] qazbnm456 commented on #22
@MrClever00 You forgot to quote pwd with backticks. You're supposed to type ```./extra/provision.sh dev `pwd` ```, and paste entire logs to [pastebin](http://pastebin.com/) if you still failed to deploy.

[2016-05-15 03:15] xiaji261 commented on #51
Thanks for your kingly help. As you have suggested, I check these aspects:
1. I can create create new teams or categories successfully.
2. I tried to refresh the page but no new flag level was created.
3. For /var/log/hhvm/error.log. Once I click create button in adding flag level, there will be a new line in /var/log/hhvm/error.log:

So it seems that clicking create button result in an error.

[2016-05-15 03:28] xiaji261 commented on #51
The error message is a call stack:
Fatal error: Uncaught exception 'HH\\InvariantException' with message 'Expected points to be an int' in /var/www/fbctf/src/Utils.php:30
Stack trace:
#0 /var/www/fbctf/src/Utils.php(30): HH\\invariant_violation()
#1 /var/www/fbctf/src/controllers/ajax/AdminAjaxController.php(202): must_have_int()
#2 /var/www/fbctf/src/controllers/ajax/AjaxController.php(14): Admin

[2016-05-15 03:32] smileboywtu commented on #54
Ok

[2016-05-15 03:33] alongtin83 commented on #54
i didnt fix any error at all

[2016-05-15 04:05] smileboywtu commented on #54
flow-bin always test failed, so I can't install it by hand.

[2016-05-15 05:29] putthik commented on #37
Sundw2014: thanks :)

[2016-05-15 06:04] javuto commented on #53
Also, if you could attach the provisioning log, it would be great. It lets us understand if there is a problem within the provisioning of the platform.

[2016-05-15 07:07] javuto commented on #43
Just added this documentation in the Wiki section. Let me know if there is something not clear enough.
https://github.com/facebook/fbctf/wiki/FBCTF-Challenge-Overview

[2016-05-15 07:08] #39 closed

[2016-05-15 07:08] #37 closed

[2016-05-15 09:42] mpomarole commented on #53
@mikimaine this is the same issue as https://github.com/facebook/fbctf/issues/31. Please follow the steps linked there to solve this issue.

[2016-05-15 09:42] #53 closed

[2016-05-15 09:43] mpomarole commented on #51
@xiaji261 what version of hhvm are you running? You can call `hhvm --version` to check it out.

[2016-05-15 10:13] xiaji261 commented on #51
@mpomarole I executed your command and this is the result:
lhy@ubuntu:~$ hhvm --version
HipHop VM 3.13.1 (rel)
Compiler: tags/HHVM-3.13.1-0-g4f382ad928a6e2a0607a8dcb251002aca77f11f6
Repo schema: 655b5912cb8136e9df6f9be972153e38ac446e0f

[2016-05-15 11:04] gsingh93 commented on #51
What value are you using for points?

[2016-05-15 11:41] xiaji261 commented on #51
@gsingh93 Thanks for your kindly help. Previously I input a string for points. Now my problem is solved. Thanks for all your help.

[2016-05-15 13:32] larryboymi opened #57 "Feature Request: Dockerfile"
I've started to make one myself, but it'd be nice if one could be provided.

[2016-05-15 13:50] mpomarole commented on #57
Once this PR is merged we will have one : https://github.com/facebook/fbctf/pull/36.

[2016-05-15 19:20] gsingh93 commented on #51
No problem. I will add some client side validation in the future to make sure that's an int.

[2016-05-15 19:20] #51 closed

[2016-05-15 19:57] MrClever00 commented on #22
@qazbnm456 http://pastebin.com/kM79Vxhy nope still i cant connect the site

[2016-05-15 20:37] gsingh93 commented on #22
@MrClever00 are you running on a physical machine or on a VM? Have you tried using Vagrant?

[2016-05-15 22:07] skyridertk opened #59 "Doesnt work"
Please put things that work.

[2016-05-16 00:11] javuto commented on #59
Can you be more specific?

[2016-05-16 00:27] jeffhackshaw opened #60 "No css / js"
Hi, Trying to install this for a while now. The server itself seems to be running but returns 404 errors for app.js and for fb-ctf.css which makes it look terrible / unusable.

from firefox:
     GET https://0.0.0.0/static/css/fb-ctf.css [HTTP/1.1 404 Not Found 1ms]
     GET https://0.0.0.0/static/dist/js/app.js [HTTP/1.1 404 Not Found 0ms]

There are no errors during /extra/provision.sh prod $PWD

[2016-05-16 00:40] GithubGuy64 opened #61 "Window Size Error - Infinite Loop"
Ran into a bug after installing in development mode where the landing page gets stuck in a continuous loop. The page just states Window is Too Small and it tries to reload over and over and over. Anyone else seen this issue?

Details:

VirtualBox on Yosemite - Ubuntu 14.04 vm
URI - https://<vm_IP>/index.php?page=mobile   <-- i don't know why it thinks its mobile
VM Browser - Chrome (50.0.2661.x)

[2016-05-16 01:21] javuto commented on #60
Did you install the platform yourself or did you use the provision script? Is it running in a Vagrant machine or a separate server?

[2016-05-16 01:21] TheControlFreak opened #62 "facebook/xhp-lib 2.3.0 requires hhvm ~3.6 -> you are running this with PHP and not HHVM"
The title says it all.

facebook/xhp-lib requires hhvm for install except that

I have hhvm installed on my ubuntu.

`

  Problem 1
    - facebook/xhp-lib 2.3.0 requires hhvm ~3.6 -> you are running this with PHP and not HHVM.
    - facebook/xhp-lib 2.2.4 requires hhvm ~3.6 -> you are running this with PHP and not HHVM.
    - facebook/xhp-lib 2.2.3 requires hhvm ~3.6 -> you are running this with P

[2016-05-16 01:26] jeffhackshaw commented on #60
I used the provision script, basically brand new install of ubuntu 14.04 not in vagrant. The first thing I did was basically this:

sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh prod $PWD

I created self-signed key, crt and put the paths of them into the provision script when asked.

[2016-05-16 02:38] jeffhackshaw commented on #60
Working now

[2016-05-16 02:38] #60 closed

[2016-05-16 03:09] overcrash66 opened #63 "I can not register to the local server"
I have installed everything, but when I connect to the server's homepage I can not register..
need help

[2016-05-16 04:13] mehnomy commented on #59
@skyridertk Are you trying to use the development or production installation?

My current build for production installation is:
- 2GB Ram, Ubuntu 14.04 with Nginx installed
- SSL Certificate verified with Comodo, and uploaded to cloudflare and configured in default nginx settings
- Run through the instructions which were laid out perfectly fine however i have seen a change in the installation log

[2016-05-16 04:17] Mikey828 commented on #59
Finances would assist brother
On May 15, 2016 11:13 PM, "Byron Fisher" <notifications@github.com> wrote:

[2016-05-16 04:21] mehnomy commented on #59
@Mikey828

I didn't catch that sorry mate, what did you mean?

[2016-05-16 10:31] Mikey828 commented on #59
I'm Michael, commander of the Angelic army, a servant of Christ Jesus,
atlantis will soon be raised NWO fast approaching Nero reborn, I seek help
Bless you in Jesus name
Being followed by government
Let them follow for I AM fearless
Any anti spyware basic hacking tools would be helpful
Thank you
On May 15, 2016 11:21 PM, "Byron Fisher" <notifications@github.com> wrote:

[2016-05-16 10:46] Excis3 commented on #63
I had the same issue when installing in production mode.
When i installed as development i had no troubles.

I figured out that curl was missing on a fresh ubuntu 14.04 install, so installed it.
Did the install script again but for development and all worked fine.
:/

[2016-05-16 10:51] Excis3 commented on #59
Strange people here, just install in a vm in development and you are good to go for testing.
Later you can go for production and get an ssl certificate if you like the system.

[2016-05-16 10:55] Excis3 commented on #42
I also like this idea.
:+1:

[2016-05-16 11:03] Mikey828 commented on #42
Yea great idea proud to be conversing with intelligent minds, I appreciate
your council.
And give you thanks
Even though y'all shut off lights while I was dropping a duece at work
LOL BTW :)
On May 16, 2016 5:55 AM, "Excis3" <notifications@github.com> wrote:

[2016-05-16 12:14] no1rscyber opened #64 "Self Signed Certs and 502 Bad Gateway"
We are very keen to get this into PROD.

All is well until we get to the certificate part. We have created the certs using:

openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -keyout privateKey.key -out certificate.crt

We then enter the path details when the install asks for the cert locations.

All seems to be well but we are now getting a 502 Bad Gateway error.

Any assistance greatly

[2016-05-16 12:21] mehnomy commented on #64
could you please dump your error log into paste bin:
cat /var/log/nginx/error.log

[2016-05-16 12:27] no1rscyber commented on #64
Hi,

Here is our /var/log/nginx/error.log

[http://pastebin.com/6YabjUMC](url)

[2016-05-16 12:29] no1rscyber commented on #64
Here is the log

http://pastebin.com/6YabjUMC

[2016-05-16 12:39] mehnomy commented on #64
Yea, in prod mode you need to create your own certs. You don't want to be using self-signed certs in production for security reasons.
In dev mode, using a self-signed cert is fine, so we generate it for you.

Errors on Lines 1-10 show that they don't like your self signed Certificates (insecure), my suggestion would be to go to somewhere like name cheap and get yourself a cheap Comodo SSL certific

[2016-05-16 12:42] no1rscyber commented on #64
Setting this up on a real box.

Im tempted to go to a 64bit OS instead of 32bit as others seem to have a similar issue.

I have seen in other posts that using a self signed cert should be OK for intranet type implementations?

[2016-05-16 12:49] mehnomy commented on #64
From my knowledge you can't use a 32bit as flow isn't supported - however i could be wrong.

 when you ran ./extra/provision.sh dev $PWD before placing the locations (or after) of your SSL Crt and Key did you see any errors?

Errors such as:
http://i.imgur.com/yMRgZeH.png

[2016-05-16 12:52] no1rscyber commented on #64
Thanks for the info, just going to try the 64bit OS to see if that fixes it. Im more than happy to use self signed certs as this will not be going anywhere near the Internet.

[2016-05-16 12:54] mehnomy commented on #64
No worries if you have anymore issues just reply back here, we are all here to help.

[2016-05-16 13:46] kevthehermit commented on #62
Try these

  log "HHVM as PHP systemwide"
  sudo /usr/bin/update-alternatives --install /usr/bin/php php /usr/bin/hhvm 60

  log "Enabling HHVM to start by default"
  sudo update-rc.d hhvm defaults

[2016-05-16 13:52] no1rscyber commented on #64
64bit OS did the trick. Seems to be up and running now.

Thanks.

[2016-05-16 13:52] #64 closed

[2016-05-16 14:08] mpomarole commented on #63
Please post output from provision script and `/var/log/hhvm/error` so we can help you.

[2016-05-16 14:31] TheControlFreak commented on #62
@kevthehermit I appreciate your help but it's still not working. It's still the same output

[2016-05-16 14:41] david-rundle-bah opened #65 "Change prod or dev install path away from 10.10.10.5?"
How would I change the default IP address for either prod or dev instance to install in my lab's IP range?

[2016-05-16 14:55] colbyjoe1919 commented on #59
---------- Forwarded message ----------
From: "Mikey828 <notifications@github.com>
Date: May 16, 2016 4:32 AM
Subject: Re: [facebook/fbctf] Doesnt work (#59)
To: "facebook/fbctf" <fbctf@noreply.github.com>
Cc:

Mike I am a target individual and currently gang stocked by these evil
nerds.  I have a hard time trusting people these days I was charged by God
to stop a plague of the apocalypse the one

[2016-05-16 15:07] gavinlowa111989 commented on #22
for those who can't proceed after 10.10.10.5 on the browser after installation in the VM, run ifconfig in terminal to find out your ip address. Put your local ip address on your browser and you will be ready to go.

[2016-05-16 16:00] agilajah opened #66 "Is it working on another ubuntu version?"
I currently using ubuntu 16.04 LTS, is it possible to run fbctf on such machine?

[2016-05-16 16:15] skyridertk commented on #59
@mehnomy Im using the production installation.  I cant locate SSL Certificate file! Any ideas? Im using linux mint.

[2016-05-16 16:21] mehnomy commented on #59
Did you create self signed certificates, or are you using a certificate which you have verified with a SSL provider?

Most common locations are:
- /etc/ssl/certs
- /etc/ssl/private
- /

[2016-05-16 16:21] #66 closed

[2016-05-16 16:27] javuto commented on #65
If you install it in development mode, it will get installed in inside a virtual machine managed with vagrant. The configuration of that is in the Vagrantfile: https://github.com/facebook/fbctf/blob/master/Vagrantfile#L8
Also you can find more documentation about vagrant and networking here: https://github.com/facebook/fbctf/blob/master/Vagrantfile#L8

But if you install it in production mode, it

[2016-05-16 18:55] MrClever00 commented on #22
[Mon May 16 18:24:45 2016] [hphp] [1521:7f97be3ff700:2:000001] [] \nNotice: A session had already been started - ignoring session_start() in /var/www/fbctf/src/SessionUtils.php on line 32 why is this

[2016-05-16 19:02] skyridertk commented on #59
Its not working. I created some in /etc/nginx/cert/.

[2016-05-16 19:48] skyridertk commented on #59
The thing is that fbctf is not loading. Its not opening at http://10.10.... Also vagrant is failing

[2016-05-16 20:06] dylanjacob commented on #10
But what about setting a time in the future for the game to automatically start without having to have a person actually click "Begin Game"?  If I wanted to schedule for, say 9:00am tomorrow, and then  allow people to register today, how would I accomplish that?

My suggestion would be to have a radio on/off for "Start: immediately/future" and then when future is selected show a date/time picker f

[2016-05-16 20:09] javuto commented on #59
@skyridertk is that a vagrant related problem? Can you share logs to see why is not loading?

[2016-05-16 20:10] javuto commented on #62
@TheControlFreak you need to run HHVM 3.13, which is the default package for Ubuntu 14.04 LTS

[2016-05-16 20:11] skyridertk commented on #59
i tried the production then the development. Both of them were flops.

[2016-05-16 20:25] mehnomy opened #67 "Flow server won't start"
Hello,

I have created a whole wiki on replicating what i have done everything seems to be working i have resolved all issues but one with installing fbctf on a clean Ubuntu 14.04 x64 without using Docker or Vagrant VM.

Wiki Link: https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki

My environment sort of works despite all the images and graphics missing due to the flow server not starting which s

[2016-05-16 20:38] dylanjacob commented on #43
Using the new wiki section, I was able to get a base up and running.

Thanks for adding that.  I will close the issue now.

[2016-05-16 20:38] #43 closed

[2016-05-16 20:54] skyridertk commented on #59
Where can i possibly find the logs?

On 22:09, Mon, 16 May 2016 Javier Marcos, <notifications@github.com> wrote:

[2016-05-16 21:04] mehnomy commented on #59
all your http/https requests errors can be seen here
cat /var/log/nginx/error.log

[2016-05-16 21:40] DLui1 opened #68 "Will FBCTF work in a newer version of Ubuntu?"
I have Ubuntu 16.04 installed in virtualbox with FBCTF installed but seem to be getting a "secure connection failed" message when trying to go to the login page with the web address of https://10.10.10.5 . What am I doing wrong? Does FBCTF work in only Ubuntu 14.04 or will it work in any version of Ubuntu higher than 14.04 as well?

[2016-05-16 21:43] mehnomy commented on #68
at this point in time it seems to have only been tested in Ubuntu v14.04, so it most likely will not work on any other versions.

Its quite specific in the guide that you must be using Ubuntu v14.04 x64, maybe in the future but not for now it seems.

Regards,
Byron

[2016-05-16 21:59] dylanjacob commented on #68
A couple things to check,

Is the IP address on your Ubuntu 16.04 VM actually `10.10.10.5`?  Do an `ifconfig` and see what the actual assigned IP is, and try connecting to `https://<ip address>`.

Also, did you create SSL certificates and point to them during the install process?  If not, try this:

[code]

Try re-running the `provision.sh` script and providing the path to the cert (`/etc/nginx/ce

[2016-05-16 22:00] Ajauregui69 opened #69 "HELP"
This are the finale lines when i try to install FBCTF and i try to conect but nothing apear...

[+] Installing Unison 2.48.3
[+] Remember install the same version of unison (2.48.3) in your host machine
[+] Creating DB - fbctf
ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)
[+] Importing schema...
ERROR 2002 (HY000): Can't connect to local M

[2016-05-16 22:05] DLui1 commented on #68
Thanks for the information, guys. I'm going to install Ubuntu 14.04 in virtualbox and try again.

[2016-05-16 22:07] dylanjacob commented on #69
I had those errors too.  I edited the variables at the top of my `provision.sh` file to match my MYSQL server setup since I already had MYSQL installed.  I have also noticed that in the `extra` folder there is a `settings.ini.example` file with some variables you can set.  Try renaming this file to `settings.ini` and editing it with appropriate values for `DB_USERNAME` and `DB_PASSWORD`.  Perhaps

[2016-05-16 22:10] dylanjacob commented on #65
To extend on what @javuto said, even though it says `https://10.10.10.5`, production mode will by default use your current ip address (assuming your interface is `eth0`, try running `ifconfig eth0` to get your current ip address)

[2016-05-16 22:14] dylanjacob opened #70 "Feature Request: Categories for Quiz Levels"
Adding a Categories field for Quiz Levels would be beneficial and would likely be necessary for #6 so that a player's knowledge in each category could be more easily assessed.

[2016-05-16 22:36] Ajauregui69 commented on #69
I couldn't do it.
What if you make a video tuto, that would help alot

[2016-05-16 22:46] colbyjoe1919 commented on #69
Stop you guys let's just ease up off the guy  already you know give him a
break.  Cease the torturing let's try that yeah I think that will work.
On May 16, 2016 4:36 PM, "Ajauregui69" <notifications@github.com> wrote:

[2016-05-16 22:47] Ajauregui69 commented on #69
If you do it, you will be the first one

[2016-05-16 23:35] agilajah commented on #69
I assume you are running linux(ubuntu) on your machine, kill your mysql process id :
$ ps -ef | grep mysql
$ kill [proc id]

then, start again.
$ sudo /etc/init.d/mysql start

[2016-05-17 00:28] overcrash66 commented on #63
@Excis3 thank you, my problem is resolved :+1:

[2016-05-17 00:56] TheControlFreak commented on #62
@javuto I'm running Ubuntu 16.04 LTS and
overlord@Aspire-V5-472G:~$ hhvm --version
HipHop VM 3.11.1 (rel)
Compiler: 3.11.1+dfsg-1ubuntu1
Repo schema: 2f678922fc70b326c82e56bedc2fc106c2faca61

[2016-05-17 00:57] TheControlFreak commented on #62
@javuto I will try manually installing hhvm 3.13

[2016-05-17 00:57] david-rundle-bah commented on #65
ok, I've created my self-signed certs, and the the prod provisioning script is running, but there's no SSL server running - SSH is the only connection according to netstat.  Hello, prod, are you here??

[2016-05-17 04:45] Pika-Boo opened #72 "Installation Issue"
Have a Ubuntu 14.04 in a VM. In order to provide self signed certificate, created one via:
     sudo openssl req -x509 -nodes -days 365 -newkey rsa -keyout ssl.key -out ssl.crt
Followed the production instructions and gave the crt and key file for ssl.
The setup completes with the admin password and statement fbctf deploment is complete! Ready in https://10.10.10.5. However nothing really loads in

[2016-05-17 04:49] mehnomy commented on #72
Could you try running the following command to get your IP address:
ifconfig eth0

Once found, copy and paste that to your browser and hit enter.. does it work?

[2016-05-17 04:52] Pika-Boo commented on #72
The local IP address open the default apache page. Opening the same link with https doesnt really work

[2016-05-17 04:53] Pika-Boo commented on #72
Would stopping apache and hitting the local IP help?

[2016-05-17 04:54] mehnomy commented on #72
oohs thats your problem right there, we are using Nginx not apache could you stop Apache and start Nginx and retry.

[2016-05-17 05:00] Pika-Boo commented on #72
I guess it is working pretty now. Thanks a ton :+1:

[2016-05-17 05:00] #72 closed

[2016-05-17 05:26] ccorcos opened #73 "What is CTF?"
I read the blog post, but I still have no idea how Capture the Flag helps you with computer security or coding. Am I missing something? I played CTF in P.E. when I was 10 I think... but no computers involved.

https://www.facebook.com/notes/facebook-ctf/facebook-ctf-is-now-open-source/525464774322241

[2016-05-17 06:00] mehnomy commented on #73
The platform allows students, enthusiasts and developers to test their skills in a safe fun and legal environment, a couple days ago Facebook released the code so users could create their own competitions such as University Hackathons, contests and other event driven events.

It also allows users to produce the platform on their own machine which allows them to run it for themselves to learn and i

[2016-05-17 06:17] ccorcos commented on #73
so the game is built with vulnerabilities that people can find?

[2016-05-17 06:21] mehnomy commented on #73
Video:
https://www.youtube.com/watch?v=4puv--mREiQ

[2016-05-17 06:34] Pika-Boo opened #74 "Gameplay"
Post setup, are there any default levels/quizzes/flags etc or would everything have to be manually added via the administrative panel?

[2016-05-17 08:13] gsingh93 commented on #74
There are no default levels added on startup. There are two demo flags provided in the demo_levels folder, only for the purpose of testing/demos, that need to be manually added.

[2016-05-17 08:13] #74 closed

[2016-05-17 08:15] gsingh93 commented on #73
The current answers are correct. Feel free to continue discussion even with the issue closed.

[2016-05-17 08:15] #73 closed

[2016-05-17 08:18] gsingh93 commented on #68
The README states that you should used 14.04, so you should use 14.04. The HHVM team does not provide an official HHVM package for 16.04 yet. You can try installing HHVM 3.13 yourself (note this version is higher than the version in the default repos), but we can't guarantee everything will work.

We'll support 16.04 in the near future, but we can't give a timeline.

[2016-05-17 08:18] #68 closed

[2016-05-17 08:20] gsingh93 commented on #61
The "mobile" argument is just stating that your screen width is too small. Did you make the window too small?

We'll look into the refresh issue.

[2016-05-17 08:24] gsingh93 commented on #48
Closing this, please reopen if you're still having an issue.

[2016-05-17 08:24] #48 closed

[2016-05-17 08:27] gsingh93 commented on #67
1) How much RAM and how many cores do you have in your VM?
2) You should be using our `.flowconfig`: https://github.com/facebook/fbctf/blob/master/src/.flowconfig. The flowconfig you've posted won't work.

We've had a large number of requests for the repository of challenges, and currently going through them.

[2016-05-17 08:27] #63 closed

[2016-05-17 08:30] gsingh93 commented on #22
@MrClever00 that warning isn't important. Are there no other errors in your log? Have you tried using Vagrant?

[2016-05-17 08:32] gsingh93 commented on #65
@david-rundle-bah Try starting nginx with `sudo service nginx start`, then check again with netstat.

[2016-05-17 08:34] gsingh93 commented on #65
Also, considering that it should have started automatically, were there any errors while provisioning it?

[2016-05-17 08:35] mehnomy commented on #67
We are Currently utilising 2GB of RAM in the VM with an extra 1GB on swap, what would your recommendations be for a production server?

Production environment needs:
In the near on future after getting a complete build up and running with a few custom challenges we will be reproducing this on a dedicated server for hackathons which we run for RMIT Students and other Universities.

the .flowconfig

[2016-05-17 08:39] gsingh93 commented on #10
That's what this issue is for.

[2016-05-17 08:41] gsingh93 commented on #38
Were there any errors in the output of the provision script? Can you describe the _exact_ steps you took to install it?

[2016-05-17 08:46] gsingh93 commented on #67
Your server specs seem fine. I think the problem is your flowconfig. Let me know if flow still gives you issues.

[2016-05-17 09:08] mehnomy commented on #67
Cheers mate it was just the .flowconfig,
going to redeploy on a dedicated to see how things go.

Kind Regards,
Byron Fisher

[2016-05-17 09:08] #67 closed

[2016-05-17 11:02] no1rscyber opened #75 "Internet Connectivity Required?"
Could I pose a few questions please?

We wish to run this in Production and currently we have managed to successfully implement this to a point.

Does the "./extra/provision.sh prod $PWD" need to be run everytime the server is booted up and used in production?

Does it require Internet access everytime if this is the case?

We would like to build the server, load in our levels and then move it int

[2016-05-17 11:21] mehnomy commented on #75
**Simple test:**
sudo reboot

wait for it to reboot, open up your browser and go to the IP address is it still working?

I have tested it and it works like a charm,
disconnect the server from internet and repeat the following steps does it work?

Regards,
Byron

[2016-05-17 11:36] Shivam5o opened #76 "Login error"
I have installed in development mode. After installation, password is printed in the console at the end of provisioning. Admin is the user by default. After entering credentials in VM (User & password )
it shows error login incorrect.

[2016-05-17 11:44] mehnomy commented on #76
did you install curl?

sudo apt-get update
sudo apt-get install curl

[2016-05-17 12:07] Excis3 opened #77 "Country filters are reversed"
Hi,
i have a question regarding the Country management.
When you apply a filter as "Disabled", all Enabled country's are shown and visa versa.
Is this intended or a bug.

![capture](https://cloud.githubusercontent.com/assets/18592596/15321720/85b64326-1c38-11e6-993b-9f6661de159b.PNG)

![capture](https://cloud.githubusercontent.com/assets/18592596/15321731/9a54f1c4-1c38-11e6-96f7-24f326ad408a.PNG)

[2016-05-17 12:18] no1rscyber commented on #75
Changed IP to our internal 10 network and rebooted. Could not connect to server once it had come back up on the new IP.

Had to change it back to dhcp on my internet connected network (192 network) and reboot once again. Server successfully came back online.

Would be useful to move it over to my internal non internet connected network!

[2016-05-17 12:46] Shivam5o commented on #76
Curl is already installed

This is what I get in VM
[code]

[2016-05-17 14:09] colbyjoe1919 commented on #28
I would recommend not wasting any more time and money on this matter.  I'm thinking we cut our losses not waste any more time on this guy.  He's got some kind of a fluke that's destroying giant wads of company resources.   Let's put it to the big man and u know let this guy and his broken bots go bounce around a rubber room.

In hindsight I'd we stay on it and we really don't learn much more we ar

[2016-05-17 14:13] colbyjoe1919 commented on #28
Ps we should maybe slip this guy a whole bunch of petty cash/visa cards you know for any "misunderstanding "  you never know with these drama queens .  Might as well stay on the safe sidem

[2016-05-17 14:23] colbyjoe1919 commented on #10
We can't play these games people I know it's a long shift but the end
processes are going to invoke torture and collect data themselves.  We have
a dark Lord to satisfy.  Let get serious here.
On May 17, 2016 2:40 AM, "Gulshan Singh" <notifications@github.com> wrote:

[2016-05-17 14:23] david-rundle-bah commented on #65
I've tried this multiple times on different VM platforms, and still getting the same results.  I will capture the provisioning output on this go around.  Is there an option for verbose output?

[2016-05-17 14:29] colbyjoe1919 commented on #67
This has gone too far we are going to all be wage and salary cuts by months end.  We don't need this yahoo let's go make money not toss it.

[2016-05-17 14:31] colbyjoe1919 commented on #67
Let's move on.  I didn't sign on to be an evil nerd for the prestige.  I got my gold digger hottie wife I'm good.  Let's do someone else.

[2016-05-17 14:31] landmanmanc opened #78 "Allow longer/shorter game times"
Feature request : custom gametime longer then 24 hours.

[2016-05-17 14:52] colbyjoe1919 commented on #65
It's God.  No secrets no code.  God and that's just a taste.  You are out
of your league evil nerds no offense I hope.  I'm a nerd too I just like
star trek and quantum physics.  Torture induced suicide not my favorite
Saturday night but who am I to judge.
On May 17, 2016 8:28 AM, "david-rundle-bah" <notifications@github.com>
wrote:

[2016-05-17 14:52] colbyjoe1919 commented on #65
No car
On May 17, 2016 8:47 AM, colbyjoe1919@gmail.com wrote:

It's God.  No secrets no code.  God and that's just a taste.  You are out
of your league evil nerds no offense I hope.  I'm a nerd too I just like
star trek and quantum physics.  Torture induced suicide not my favorite
Saturday night but who am I to judge.
On May 17, 2016 8:28 AM, "david-rundle-bah" <notifications@github.com>
wrote:

I

[2016-05-17 14:52] colbyjoe1919 commented on #75
How many times are we going to try one more thing.  Nothing works it's like
he's working with God or something.  That's the only way he could be
stopping us so effectively.  If that's true that means gods real.  And that
means........crap.  uh brb I have to talk to a priest er I'm mean buy some
paste. At the store.   Well looks like we chose the wrong side fellas. Our
bad.  I heard he's forgiving.

[2016-05-17 14:52] colbyjoe1919 commented on #78
A day here is a 1000 years in spirit prison.  So your penance might take a
minute.
On May 17, 2016 8:31 AM, "Marc" <notifications@github.com> wrote:

[2016-05-17 14:57] colbyjoe1919 commented on #65
For those that don't know when the big dog comes in and gets around a block
there will be more.  God is the ending and the beginning.  Your man got a
some demon info trust that.  You people have bodies you are already
superior you don't need to capitulate
On May 16, 2016 10:27 AM, "Javier Marcos" <notifications@github.com> wrote:

[2016-05-17 16:01] dubiZA commented on #22
I'm in the same boat as @MrClever00 I think. I'm just trying to provision in dev mode because I want to play around with FBCTF. I'm running Ubuntu 14.04 LTS in a VMWare VM on a Windows host so I'm trying to provision without using Vagrant and VBox. It runs through the whole process and says it's ready to go on IP 10.0.0.5 which isn't the IP of the VM. I try opening the CTF homepage using localhost

[2016-05-17 16:11] mpomarole commented on #22
@dubiZA can you post the output of the provision script?

[2016-05-17 16:31] david-rundle-bah commented on #65
OK, found a workaround - installation script **requires** that the self-signed certs exist in the /fbctf file.  if you attempt to specify a path such as /home/catl/ssl/ssl.crt, the script attempts to load _homecatlsslssl.crt_ as the cert file.

[2016-05-17 16:31] #65 closed

[2016-05-17 16:43] dylanjacob commented on #47
Well, I started looking at the code yesterday and thought I'd try my hand at it, but I couldn't figure out how to get the development environment set up...

For what it's worth, it looks to me that the Quiz level uses the Level model which already supports attachments, and it would just be a matter of adding the UI elements, and maybe a controller edit to handle the DB insert.  Perhaps my assessme

[2016-05-17 17:57] TerenceTanWT commented on #22
I'm facing the exact same issue as @dubiZA except that I'm running Ubuntu 14.04 LTS in a VirtualBox VM on an OSX host.

[2016-05-17 18:03] zky001 commented on #38
sure,I just follow the introduction by typing `git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh prod $PWD`

[2016-05-17 20:00] mavroudisv opened #79 "Feature/Pull request: Payment confirmation when hint is not free"
I recently played in a ctf which used the fb platform, and I found it very convenient and easy to use indeed.

However, I noticed that you are always one click away from losing points by accidentally clicking the "request hint" button.

Additionally, the amount is displayed only on mouseover, so you are already half way there.

As you probably realised, when playing the ctf, I clicked on a "paid h

[2016-05-17 20:01] nimdavirus commented on #22
Type exit from the terminal

then login with your user name and password

The Facebook CTF splash will show and display the IP address it is using.

Also type ifconfig and see what the IP is set in eth0.

The 10.10.10.5 is a LIE the CAKE is a LIE!!!

You can set your eth0 to that IP.

I installed this on VMware and share the NAT. My host machines IP was 192.168.0.100 and my VMware FBCTF IP was 192

[2016-05-17 20:07] Ajauregui69 opened #80 "I cant make it work"
Please someone help me :(

[2016-05-17 20:15] nimdavirus commented on #80
@Ajauregui69

We need a lot more information.  Screen shots and descriptions of what you can and cannot do, well help us troubleshoot with you.

-Nimdy

[2016-05-17 20:19] Ajauregui69 commented on #80
i do the install Production way, but when i go to https://10.10.10.5 it doesn't show anything

[2016-05-17 20:26] Nimdy commented on #80
Read:

https://github.com/facebook/fbctf/issues/22

I already posted my solutions.

There are many possible issues that could come up and a lot of it sadly is because of the untrained eye.

They are easy fixes, we can help you troubleshoot through them.

I am going to make a YOUTUBE video tonight and provide a walk through.

[2016-05-17 20:28] Ajauregui69 commented on #80
LOL untrainded eye..

TNX

[2016-05-17 20:33] Nimdy commented on #80
We all have the "untrained eye" right now. All of us will be masters are at a 15 min setup process. I was fumbling all over the place. I spent 3 hours trying to get the script to work and didn't notice the difference between ` and ' .... lol

[2016-05-17 20:48] Ajauregui69 commented on #80
i really appreciate your help, i hope your video, when you make it please paste the link here pleas :)))))))

[2016-05-17 20:59] wytshadow opened #81 "Scoring with Bases"
Are there instructions or tutorials on how to setup a basic machine to use as a base level for a king of the hill style CTF? I found the score_base.py script in the extras folder but I am not sure how to use it. what does the fbctf machine need to run to receive points from the compromised base/victim machines? Is the score_base.py script what runs on the compromised machines to tell the fbctf who

[2016-05-17 21:02] dubiZA commented on #22
@Nimdy - No joy. I'm not exactly sure what you mean by "then login with your user name and password (UBUNTU)" though. I'm already logged in and typing exit into terminal doesn't log out obviously.

[2016-05-17 21:14] dubiZA commented on #22
@mpomarole this is a really novice question but I'm not super familiar with Linux and working in terminal. I'm trying to pass the script output to a text file using the > operator after the provisioning command. When I do that it seems to have issues running through the provisioning script. If I leave that off it gets much further along. So basically I keep getting a different output when I use `.

[2016-05-17 21:24] GithubGuy64 commented on #61
@gsingh93 Thanks for the pointer, do you also know the minimum window size to not be identified as a mobile browser?

[2016-05-17 21:40] ccorcos commented on #73
So its just question-answer format? I was under the impression that you'd try SQL injection on or something to try to hack the game...

[2016-05-17 22:04] Ajauregui69 commented on #80
@Nimdy i got this error, ` * Restarting nginx nginx                                                                                                      [fail]
[+] Installing Unison 2.48.3
[+] Remember install the same version of unison (2.48.3) in your host machine
[+] Creating DB - fbctf
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
[+] Importing schema...
E

[2016-05-17 22:13] gsingh93 commented on #73
The challenges could include SQL injection. For example, we'd setup a site that has a SQL injection vulnerability and you'd exploit it, find the "flag" stored on the server or in the database, and then submit it to the scoreboard. This repository provides the scoreboard/platform to run this type of competition, you'll need to write the levels yourself.

[2016-05-17 22:44] ccorcos commented on #73
I see. Thanks for the clarification!

[2016-05-17 22:57] gsingh93 commented on #38
Can you paste the exact output of running that script?

[2016-05-17 23:03] gsingh93 commented on #77
Oops. We'll fix. Thanks for the issue :)

[2016-05-17 23:06] gsingh93 commented on #75
Provisioning only needs to happen once. Off the top of my head, no external network access is necessary as long as you don't add any base levels which our outside your network (we connect to the base levels to see which team is captured them).

[2016-05-17 23:07] gsingh93 commented on #78
Yea, I was planning on changing this. Thanks for the issue!

[2016-05-17 23:16] GithubGuy64 commented on #61
@gsingh93 The glitch appears to be isolated to the browser on my VM. Hitting it from my host OS, the CTF platform works fine, Thanks!

[2016-05-17 23:46] gsingh93 opened #82 "Level bonus is not reset when beginning a game"
To repro:

1. Add a level with any point value.
2. Click Begin Game
3. Submit the flag as any team on the gameboard.
4. Click End Game
5. Click Begin Game
6. Bonus has decreased from 30 to 20, but was not reset back to 30 when starting the new game.

[2016-05-17 23:48] gsingh93 commented on #61
That's weird. The size is 960 pixels, as listed here: https://github.com/facebook/fbctf/blob/5d75a0a5b71d724ff71ac301e99ad5ed99a7947b/src/static/js/app.js#L53

Was your VM browser bigger than that? If you know enough JavaScript to modify the platform, can you print out what the browser size is?

[2016-05-18 02:01] javuto commented on #81
The documentation on how to setup bases is here: https://github.com/facebook/fbctf/wiki/FBCTF-Challenge-Overview
Let us know if you have any questions or encounter issues along the way!

[2016-05-18 03:58] Nimdy commented on #22
When you type exit in the terminal it should log you out. Unless you have entered into root. Keep typing exit until you see a login promote.

Also... I found better success installing using:

./extra/provision.sh prod `pwd`

Generate the SSL certs and copy them into the: (Name the files as fbctf.csr and fbctf.key)

/etc/nginx/certs/

fbctf.csr and fbctf.key

reboot the server

rerun the script

./

[2016-05-18 04:59] dubiZA commented on #22
I've been trying this in Ubuntu Desktop 14.04. I just switched over to Ubuntu Server now and repeated and it seems to now be working. I guess there are some required libraries or files or something not found in Desktop? Anway, it's working for me now.

[2016-05-18 05:09] mehnomy commented on #22
Hello @dubiZA

I actually have a Wiki which explains what you were having issues with,
https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki/Installing-FBCTF

The issue you were having was because Ubuntu Desktop does indeed have a different html directory then the server directory.

Kind Regards,
Byron Fisher

[2016-05-18 06:35] Ttech opened #84 "48 hour CTF"
Provide support for up to 48 hours of CTF play time
I'll see if I can hack something together in the next few days.

[2016-05-18 07:13] #75 closed

[2016-05-18 07:32] no1rscyber opened #85 "Network Migration from 192 Net (Internet) to 10 Net (No Internet)"
After all the great help on here we have managed to get the server fully up and running. However the server resides on our 192.168.1.0/24 Internet connected network where it was originally provisioned and built.

Ideally we would like to move the server into our internal range network of 10.5.11.0/24 which is air gapped away from the Internet.

You would think this would be as simple as just chang

[2016-05-18 09:58] NMEsearch commented on #77
I don't think this is a bug. The countries listed in the first image are all disabled. The green "ENABLE" button isn't there to show that country's status, it's there to enable the country.

The same, but opposite, can be said for the second image.

[2016-05-18 10:10] NMEsearch opened #86 "Player Names"
I've enabled player names, which allows for input during registration, but once submitted I can't find where to check who was on each team.

In the admin panel under Teams it says "No Team Names" when looking at the 'Names' tab above the team. Also, on the gameboard, when clicking on a team logo in the 'Teams' window nothing is listed under 'team_members'.

Is this a bug?

Hopefully the above make

[2016-05-18 10:17] NMEsearch opened #87 "Help with Configuration"
Could someone please help me by explaining what some of the admin configuration settings do. I've played around with them all but haven’t noticed much difference.

Under LOGIN, what does STRONG PASSWORDS change?

What do all the setting under GAME do?

Thanks for any help.

[2016-05-18 11:04] Excis3 commented on #77
Ah, indeed this could be possible.
@gsingh93 is the logic correct?
If so you can close this issue.

[2016-05-18 11:27] zky001 commented on #38
`[+] Installing Unison 2.48.3
[+] Remember install the same version of unison (2.48.3) in your host machine
[+] Creating DB - fbctf
ERROR 1007 (HY000) at line 1: Can't create database 'fbctf'; database exists
[+] Importing schema...
[+] Importing countries...
[+] Importing logos...
[+] Creating user...
ERROR 1396 (HY000) at line 1: Operation CREATE USER failed for 'ctf'@'localhost'
[+] DB Connecti

[2016-05-18 11:31] zky001 commented on #38
这个问题一直存在
`/var/www/fbctf/extra/lib.sh: line 176: hhvm: command not found`
[+] Installing hhvm
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package hhvm

[2016-05-18 12:56] mehnomy commented on #85
How did you change the IP address, and where within the server config e.g what file, was it the `/etc/network/interfaces` file?
- if you did edit the interfaces file could you run `sudo service networking restart`
- could you run `ifconfig` and `/sbin/route -n` provide both outputs here please.

Kind Regards,
Byron Fisher

[2016-05-18 13:07] mehnomy commented on #87
If strongpassword is checked e.g Boolean 1 it requires the following regex:
INSERT INTO `password_types` (field, regex, description) VALUES("1", "/.*^(?=.{8,})(?=.*[a-z])(?=.*[0-9]).*$/", "Length > 8, [a-z] and [0-9]");
INSERT INTO `password_types` (field, regex, description) VALUES("2", "/.*^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$/", "Length > 8, [a-z], [A-Z] and [0-9]");
INSERT INTO `passw

[2016-05-18 13:32] mehnomy commented on #38
Hello @zky001,

Could you please follow my guide, this will resolve your current issue and upcoming issues.
https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki

[2016-05-18 15:46] jrobber1 opened #88 "favicon.ico no such file or directory/ Wont load"
2016/05/18 08:38:13 [error] 3857#0: *12 open() "/var/www/fbctf/src/favicon.ico" failed (2: No such file or directory), client: 10.10.10.5, server: , request: "GET /favicon.ico HTTP/1.1", host: "10.10.10.5"

Installed with prod no vagrant. Used self signed cert

[2016-05-18 15:50] mehnomy commented on #88
Hello @jrobber1,
Do you have any other issues / problems? are you able to load your website still?

The fav icon is just the tiny image you see when you create multiple tabs, more of a deco thing.
If it doesn't exist just simply upload it into your directory.
- https://github.com/facebook/fbctf/blob/master/src/static/img/favicon.png

If you're having multiple issues try following my wiki guide:
ht

[2016-05-18 15:53] jrobber1 commented on #88
The page will not load. That's the only error. I'll look over the wiki. Thanks

Jesse Roberts

On Wed, May 18, 2016 at 8:50 AM -0700, "Byron Fisher" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @jrobber1<https://github.com/jrobber1>,
Do you have any other issues / problems? are you able to load your website still?

The fav icon is just the tiny image you see when you c

[2016-05-18 15:53] Ttech opened #89 "Allow frontpage modification"
It would be nice to have the ability to change the entry text and slogan messages as well as have a page to describe information regarding the CTF. This is helpful for people who run large CTFs where sponsors or similar content would be required to be displayed. An editable about page could accomplish this.

[2016-05-18 16:00] mehnomy commented on #88
Hey @jrobber1,

The page not loading is a whole other issue then just a tiny favicon, could you copy what the output of the prevision script and paste it into a pastebin and provide the URL in a reply.

I'd suggest running from scratch if you're going to use my wiki so its a clean slate, to insure that your not starting in an environment which may already have issues.

If your issues persist pleas

[2016-05-18 16:12] no1rscyber commented on #85
Byron,

Yes, I amended the interfaces file and rebooted the box. I did also at some point tried to do a networking restart but the box didn't like that hence the reboot.

This is what it looks like once it has been amended to migrate into the target infrastructure.

A web browser returns "Bad Request (Invalid Hostname) on 80 and nothing at all on 443

lo        Link encap:Local Loopback

[2016-05-18 16:17] mehnomy commented on #89
Hello Ttech,

For anyone who may be running a Hackathon event or something similar would defiantly have the knowledge and know hows to edit the front page.

To edit the front page the code can be found here:
https://github.com/facebook/fbctf/blob/5d75a0a5b71d724ff71ac301e99ad5ed99a7947b/src/controllers/IndexController.php

Lines 44-58:
`  public function renderMainContent(): :xhp {
    return

[2016-05-18 16:37] ankerbachryhl opened #90 "Host a competition?"
Hi, I want to host a CTF competition with this platform, how can I set it up on a webserver so everyone will be able to play it?

Thank you!

[2016-05-18 16:42] Ttech commented on #89
This is a great guide!

My main goal for this ticket is reference for me to implement it unless someone beats me to it.

Basically my goal is to allow people who are less experienced to participate and develop CTFs (or at the very least maintain them). Currently I have been putting together CTFs based off of CTFd for middle schools and high schools. While CTFd, works this looks a lot cooler for st

[2016-05-18 16:43] mehnomy commented on #90
Hello @ankerbachryhl,

Please take a look at my Wiki i have also provided cheap affordable hosting solutions.
https://github.com/mehnomy/FBCTF-Ubuntu-Setup

If you require any more assistance please feel free to reply back anytime we're all here to help.

Kind Regards,
Byron Fisher

[2016-05-18 17:00] mehnomy commented on #89
Hello @Ttech,

I enjoy seeing developers/organisations trying to help the community by educating others by giving them a fun interactive way on doing so which this platform provides and developers like yourself taking that further step.

I will look into creating the front-end editor,
for now i will start off with just the front page as a proven concept and see how far i can take it without compro

[2016-05-18 17:02] ankerbachryhl commented on #90
Thank your @mehnomy but I don't understand if I set this up on a virtual machine in for exampel virtual box how can everyone get access to it? Can I set it up on a virtual machine? I know that this is some noob questions I'm sorry.

[2016-05-18 17:05] Ttech commented on #90
Setup is pretty easy, you need a Ubuntu 14.04 install and an SSL Cert (so probably a domain)
If you don't have a cert but you have a domain you can use lets encrypt - https://letsencrypt.org/getting-started/

For the rest of the FB CTF

1. update the system apt-get update && apt-get -y upgrade (possible apt-get dist-upgrade)
2. apt-get install curl git
3. git clone https://github.com/facebook/fbct

[2016-05-18 17:12] Ttech commented on #89
@mehnomy Well you beat me to it! (At least part of it)
http://i.imgur.com/z1yc2EW.gif

[2016-05-18 17:15] ankerbachryhl commented on #90
@Ttech ahhh Now I understand, Thanks! So if I just have a local virtual machine with Ubuntu 14.04 and a domain name it will work? Or do I need a webserver with Ubuntu 14.04?

[2016-05-18 17:16] Ttech commented on #90
The setup script (provision.sh) will configure things for you including the webserver portion.

[2016-05-18 17:19] ankerbachryhl commented on #90
@Ttech Thanks alot now I just need a virtual machine with Ubuntu 14.04 easy!

[2016-05-18 17:21] mehnomy commented on #90
Hello @ankerbachryhl,

If you want others to see it like e.g:
[Click me](https://challenge.rmit.me)

This is running on a Dedicated Server however for smaller scales a VPS which i have provided in the wiki with the server specs would be my minimum recommendations on having a live platform.

The example link which i have provided you is running on a monster of a machine and network setup as it will

[2016-05-18 17:30] ankerbachryhl commented on #90
Thanks! Sorry I'm dumb :( But when I run it on my vagrant virtual machine, I am the only one who is able to go to https://10.10.10.5/ has this something to do with that I'm connected to the internet using LAN?

[2016-05-18 17:33] mehnomy commented on #90
Hey @ankerbachryhl,

could you please use ifconfig to find your IP Address -> Copy that IP address into your Browser and hit enter you will then hopefully see the website.

If you have any more issues feel free to reply back anytime.

Kind Regards,
Byron Fisher

[2016-05-18 17:40] ankerbachryhl commented on #90
Sorry @mehnomy I am able to go to the site and play the game, but my brother which is also connected to the internet via LAN cabel can't... And you said it was available to all the others on the network?

[2016-05-18 17:52] mehnomy commented on #90
@ankerbachryhl

What IP address is your brother using in the web browser, with or without https?
can your brother ping the IP address?

Kind Regards,
Byron Fisher

[2016-05-18 17:56] ankerbachryhl commented on #90
@mehnomy

No he can't ping it... Does it have something to do with that we are connected over lan, and not wifi?

[2016-05-18 18:01] mehnomy commented on #90
LAN is perfect for testing,

can you copy and paste your whole output for (within the vm):
ifconfig

Kind Regards,
Byron Fisher

[2016-05-18 18:08] jrobber1 opened #91 "Quiz questions"
It would be great to have a way to upload quiz questions.

[2016-05-18 18:28] ankerbachryhl commented on #90
Here you go (I can't copy inside the vm so you are getting the first 3 lines for eth1 and lo which are the only ones showing up):

eth1: Link encap:Ethernet HWaddr 08:00:27:76:f8:4d
          inet addr: 10.10.10.5 Bcast:10.10.10.255 Mask:255.255.255.0
          inet6 addr: fe80::a00:27ff:fe76:f84d/64 Scope: Link

lo: Link encap: Local Loopback
     inet addr: 127.0.0.1 Mask: 255.0.0.0
     inet6 a

[2016-05-18 18:33] mehnomy commented on #91
You can create individuals here:
http://i.imgur.com/tadCdrx.png

mmhms good idea though, a CSV is quite plausible to bulk create questions and upload, there are a couple ways to approach this with a button to upload a bulk questions if the title doesn't exist then it will allow them to upload, or using a feed approach is also plausible a little more complicated but it allows the on the fly approac

[2016-05-18 18:41] TerminatorXII opened #92 "Can't run (Gruntfile.js)"
To start the program I've to open Gruntfile.js,
but when I open it, it shows CMD for 0,3s and then it close.
Tried to run with Java, same problem, then with nodejs, same problem

CMD message:
Can't find or run Gruntfile.js

[2016-05-18 18:42] mehnomy commented on #90
i'm quite stumped do apologise but i don't have a solution everything looks fine,
you will need to wait for another developer to reply.

Kind Regards,
Byron Fisher

[2016-05-18 18:45] ankerbachryhl commented on #90
@mehnomy No proplem i'm just glad you helped me! Do I need to ask for permission if I wanna do this online on a web server?

Kind Regards,
Anker

[2016-05-18 18:46] mehnomy commented on #92
Hello @TerminatorXII,

I don't really understand why your needing to open the file Gruntfile.js could you try following on a clean Ubuntu 14.04 x64 VM or VPS the instructions on my wiki:
https://github.com/mehnomy/FBCTF-Ubuntu-Setup

If you run into any further issues please feel free to reply.

Kind Regards,
Byron Fisher

[2016-05-18 18:48] TerminatorXII commented on #92
It's the only possible way to run it?

[2016-05-18 18:49] mehnomy commented on #90
@ankerbachryhl

Under the license which Facebook has released this platform it specifically says its not for Commercial use so as long as you're not charging anyone to use the Capture the Flag platform no do you not need to ask for permission to have this online.

Kind Regards,
Byron Fisher

[2016-05-18 18:56] mehnomy commented on #92
What steps have you done / commands have you executed within your Ubuntu 14.04 x64 environment that have lead you to this problem.

Please note down everything you have done, so i can help you resolve your issues.

Kind Regards,
Byron Fisher

[2016-05-18 18:58] TerminatorXII commented on #92
I run it on windows, is that the problem?

[2016-05-18 19:01] ankerbachryhl commented on #90
@mehnomy Awesome Thank you for all your help!

[2016-05-18 19:04] mehnomy commented on #92
Yes that is the problem i was curious to why you said CMD and not terminal.

The platform requires a Ubuntu 14.04 x64 Operating System, [please read the instructions on the front page.](https://github.com/facebook/fbctf)

[If you require help with the setup please follow my wiki for instructions.](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

Kind Regards,
Byron Fisher

[2016-05-18 19:05] TerminatorXII commented on #92
Does Unbutu changes my current operating system? or is it a program?

[2016-05-18 19:11] mehnomy commented on #92
**Do not reformat your computer**

Please run Ubuntu 14.04 x64 in a Virtual Machine, software such as [Virtual Box](https://www.virtualbox.org) which is free allows you to create sandboxed environments which do not effect your current Windows operating system it will just take some computer resources when it is activated; resources such as CPU cores, RAM, and storage space all of these are set by

[2016-05-18 19:48] TerminatorXII commented on #92
Can't run Unbutu http://prntscr.com/b5nl8x

[2016-05-18 20:01] tbowman01 opened #93 "Ability to custom brand the CTF with your name and logo."
Could you provide an interface in the admin menu to brand the CTF?
ie.  upload and use a custom logo/icon and change the "Powered by Facebook"

Temporary work around in order to customize/brand the CTF the logo and file can be found here:
- Logo Location: /fbctf/src/static/svg/icons/social-facebook.svg
- File Location:  /fbctf/src/xhp/Fbbranding.php

If you place your own logo in the same location

[2016-05-18 20:23] TerminatorXII commented on #92
Googled it, but I can't change it to 64 bit, and checked me bios, but can only test my hardware.. (I have 64 bit system)

[2016-05-18 20:28] gsingh93 commented on #77
Ah, you're right.

I think we should changed the button though to say the current state of the country, instead of the action that will be taken when clicking the button. So we would change "Enable" to "Disabled" and "Disable" to "Enabled". This has been confusing me from the beginning :P

Are you alright with that @javuto?

[2016-05-18 20:34] gsingh93 commented on #84
Duplicate of https://github.com/facebook/fbctf/issues/78

[2016-05-18 20:34] #84 closed

[2016-05-18 20:37] gsingh93 commented on #79
Great suggestion, thanks. Go ahead an submit the PR.

[2016-05-18 20:39] gsingh93 commented on #89
I think having an editable about page is a good idea.

[2016-05-18 20:40] gsingh93 commented on #62
Please reopen if you're still having issues.

[2016-05-18 20:40] #62 closed

[2016-05-18 20:42] gsingh93 commented on #91
Using CSV's to upload levels is on the current roadmap.

[2016-05-19 03:35] Hacktast1c opened #94 "502 Bad Gateway -- nginx"
Is anyone getting the same issue?

I have:

sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh prod $PWD  (ALSO TRIED `PWD`)

cd /etc/nginx/certs
openssl genrsa -des3 -out self-ssl.key 2048
openssl req -new -key self-ssl.key -out self-ssl.csr
cp -v self-ssl.{key,original}
openssl rsa -in self-ssl.original -out self-ssl.key
rm -v self-ssl.original
ope

[2016-05-19 03:48] mehnomy commented on #94
Hello @Hacktast1c,

Could you please try using my guide:
https://github.com/mehnomy/FBCTF-Ubuntu-Setup

If you still have issues please feel free to reply back here.

Kind Regards,
Byron Fisher

[2016-05-19 04:32] mehnomy commented on #93
This is a non commercial license agreement when using the Platform which has been created and released by Facebook, i don't agree on having a way to change it from being Branded with Facebook since they've have created this amazing platform.

When creating an event e.g at a University for instance students would be more engaged and willing to participate seeing the Facebook logo over a unknown log

[2016-05-19 04:55] mehnomy commented on #92
Please refer to:
[Solution](http://askubuntu.com/questions/308937/cannot-install-ubuntu-in-virtualbox-due-to-this-kernel-requires-an-x86-64-cpu)

Kind Regards,
Byron Fisher

[2016-05-19 06:12] Hacktast1c commented on #94
Byron, I am getting an "unable to locate package hhvm" message.

[2016-05-19 06:35] mehnomy commented on #94
@Hacktast1c,

Did you follow my guide with a clean Ubuntu 14.04 x64 environment?

Kind Regards,
Byron Fisher

[2016-05-19 07:00] Hacktast1c commented on #94
I'm using 32 bit.  I will download the x64 version and try again.  TY

[2016-05-19 09:03] no1rscyber commented on #94
I went to 64 bit and ensured the certificates were in the correct folder and that fixed my errors.

[2016-05-19 09:04] no1rscyber commented on #85
Any advice would be appreciated.

[2016-05-19 09:14] cjrollo commented on #69
The lib.sh helper assumes that mysql needs to be install and will do it. However, the mysql server is *not* started. Similar to the nginx server, the install _mysql() function should have a "restart". Something like...

function install_mysql() {
  local __pwd=$1

  log "Installing MySQL"

  echo "mysql-server-5.5 mysql-server/root_password password $__pwd" | sudo debconf-set-selections
  echo "my

[2016-05-19 09:18] Hacktast1c commented on #94
@no1rscyber @mehnomy :

Thank you for your input. Should have followed my gut in the first place.  I ended up using 64 bit server. Flowtype install failed, however, I was still able to hit the interface.

Everything seems to work well. Thank you very much for your input. Now adding content. I look forward to extending and contributing.

Cheers

[2016-05-19 09:19] evilchurch commented on #22
i installed it on vagrant VM,but when I browse to the 10.10.10.5 I get an nginx 502 error

[2016-05-19 09:22] evilchurch commented on #94
i installed it on vagrant VM,but when I browse to the 10.10.10.5 I get an nginx 502 error

[2016-05-19 09:30] mehnomy commented on #94
hello @evilchurch,

are you trying to build the Production deployment or the Development deployment?
is the provision script running without any errors?

Kind Regards,
Byron Fisher

[2016-05-19 09:32] mehnomy commented on #85
Just curious,

your machine says its using inet addr:10.5.11.222

could you try 10.5.11.222 in the browser?

Kind Regards,
Byron Fisher

[2016-05-19 09:37] mehnomy commented on #22
Hello @evilchurch,

Could you please reframe from asking the same question in multiple issues, we can see you're having an issue and you posted the same exact word for word question in:
https://github.com/facebook/fbctf/issues/94

is the provision script running without any errors?

Please reply back in this **issue**.

Kind Regards,
Byron Fisher

[2016-05-19 09:44] evilchurch commented on #22
@mehnomy I'm sorry for asking the same question. I try to build the Development deployment. When i type cat /var/log/hhvm/error.log it tells no such file

[2016-05-19 09:45] mehnomy commented on #22
@evilchurch,

could you please copy and paste the provision output into a paste bin please.

Kind Regards,
Byron Fisher

[2016-05-19 10:50] no1rscyber commented on #85
Byron,

Thats exactly what we do when we have changed the IP to fit in with our labs IP range. We then get the  bad request in the browser. I have to then change the network config back to dynamic and move it back into my 192 internet network.

[2016-05-19 11:09] mehnomy commented on #85
If your trying to figure so the server is at 10.5.11.0 and you want users to be at 10.5.11.1, 10.5.11.2 and so on.. then that configuration is done with your router.

Kind Regards,
Byron Fisher

[2016-05-19 11:11] jhar8602 opened #95 "How to remove it."
How do i remove this piece of software? I ran the install, but i don't want to use it anymore.

[2016-05-19 11:16] mehnomy commented on #95
Hello @jhar8602,

**If you installed this on a VM:**
-  you could simply just delete the VM and create a new Virtual Machine.
**If its on a VPS:**
- you can reconfigure and reinstall Ubuntu 14.04 64x.

Kind Regards,
Byron Fisher

[2016-05-19 11:33] no1rscyber commented on #85
Byron,

We have 2 networks, a 192 Net which has Internet Connectivity. The other network is a 10 net that does NOT have Internet connectivity.

I built the server on 192 so it could fetch all its dependencies and spin it up OK, which it has and the server serves pages successfully. However, we wish to move it onto our range network (10 net) which does not have any internet.

I changed the network

[2016-05-19 11:40] Younet007 opened #96 "It doesn't make work!!"
Hi guys,
I have a problem to access to 10.10.10.5
First i tried to make it with my server, so I run ./extra/provision.sh in prod mode, also I use my own certificate, then I tried to use in VM but I have a problem with the vagrant file, and the access problem persist.
Thanks

[2016-05-19 11:47] mehnomy commented on #96
Hello @Younet007,

Please follow my wiki guide with a fresh Ubuntu 14.04 64x.
[My Guide](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

Kind Regards,
Byron Fisher

[2016-05-19 11:54] jhar8602 commented on #95
And if I installed it on a spare laptop I had laying around?
Is there any way to remove fbctf, or do I have to do a fresh reinstall of the os?

[2016-05-19 12:03] no1rscyber commented on #95
Surely if its a spare laptop lying around then it would be just as easy to flatten the OS and reinstall a fresh OS?

[2016-05-19 13:17] tbowman01 commented on #93
As the intent is for educational purposes with the education and competition organizations in mind.  I interpret this as internal education/competitions among teams.  The suggestion was geared more towards those high school or less tech savvy who do not know where to find the cascading style sheets or how to read where they are linking from.

For the high school group or possibly even college leve

[2016-05-19 13:33] Younet007 commented on #96
thanks for your answer, but the problem is always there :)

[2016-05-19 13:46] Younet007 commented on #96
also I run ubuntu 15.10 x32

[2016-05-19 13:56] tbowman01 commented on #96
If you run "netstat -an | grep tcp" are you listening on 80 or 443 locally?

[2016-05-19 14:51] jhar8602 commented on #95
Well, of course it would, but in that case I wouldn't learn anything new.

[2016-05-19 14:53] skyridertk commented on #59
cat /var/log/nginx/error.log
2016/05/15 23:45:26 [emerg] 14782#0:
BIO_new_file("/etc/nginx/certs/fbctf.csr") failed (SSL:
error:02001002:system library:fopen:No such file or
directory:fopen('/etc/nginx/certs/fbctf.csr','r') error:2006D080:BIO
routines:BIO_new_file:no such file)
2016/05/15 23:45:26 [emerg] 14802#0:
BIO_new_file("/etc/nginx/certs/fbctf.csr") failed (SSL:
error:02001002:system librar

[2016-05-19 14:54] skyridertk commented on #59
Thats the error log

On 19 May 2016 at 10:53, Ian Kahwai <iankahwai@gmail.com> wrote:

[2016-05-19 17:15] rcaudle opened #97 "Link format for base scoring"
When adding a link for a base scoring check, the format needs to be "123.123.123.123:5555" instead of "http://123.123.123.123:5555".  This is captured for documentation purposes.

[2016-05-19 18:48] Hacktast1c commented on #22
I was finally able to open it. I have listed the steps below:

1. Don't use desktop version of Ubuntu.  I used:   ubuntu-14.04.4-server-amd64

2. Install SSL Certs:
REF:  http://stackoverflow.com/questions/37169378/facebook-open-source-project-fbctf-not-starting-after-installation

3. Follow @mehnomy instructions
REF:  https://github.com/mehnomy/FBCTF-Ubuntu-Setup

NOTE: Flowtype install failed, h

[2016-05-19 20:05] landmanmanc commented on #78
Would be nice to set custom times, and not just 12/24/48 hours.

[2016-05-19 20:46] landmanmanc opened #98 "possibility to import/export game state"
Would be nice to import/export everything that has been added to make a game. For example a game consists of 30 quiz questions, and you are able to export them including the data + flag + points given.

Make's it easier to change game.

[2016-05-20 00:03] javuto commented on #97
@rcaudle This is actually documented here: https://github.com/facebook/fbctf/wiki/FBCTF-Challenge-Overview

[2016-05-20 00:03] #97 closed

[2016-05-20 02:45] mehnomy commented on #96
@Younet007 it requires 64bits since some of the main packages e.g flow type requires it. You will continue to have your problems if you do not switch over to Ubuntu 14.04 x64.

Kind Regards,
Byron Fisher

[2016-05-20 02:52] mehnomy commented on #98
https://github.com/facebook/fbctf/issues/91

why would you want to export the data/flag/points given?

Kind Regards,
Byron Fisher

[2016-05-20 03:12] mehnomy commented on #95
@jhar8602

- `cd /etc/nginx/sites-enabled`
    - `rm fbctf.conf`
- `cd /var/www`
   - `rm fbctf`
- `sudo service nginx stop`
- `sudo apt-get remove nginx nginx-common`
   - `sudo apt-get purge nginx nginx-common`
   - `sudo apt-get auto remove`

or since the laptop you have installed it on has no value with nothing on it, then just reinstall the operating system.

Kind Regards,
Byron Fisher

[2016-05-20 03:16] mehnomy commented on #22
Kind Regards,
Byron Fisher

[2016-05-20 03:31] mehnomy commented on #89
should be able to do the rules page without any issues its pretty much the same as the index with H1 and P tags, since they might change the rules pages into a information page should i look making the rules in the navigation bar editable so they can rename it?

Kind Regards,
Byron Fisher

[2016-05-20 03:35] Ttech commented on #89
I've been toying around with this idea for the last few days, its come down to needing a new section in the admin interface, and possibly an additional one for the front page.

Having a page to edit all the page content is the way I'm currently approaching things, and that looks to be a DB modification since I don't know how much I trust file editing on a CTF system. Although I'm partial to flat f

[2016-05-20 03:45] mehnomy commented on #89
I'm editing straight onto the page in real time, once clicked save it will become live this also allows the beauty of previewing the page.

Kind Regards,
Byron Fisher

[2016-05-20 08:44] Hacktast1c opened #99 "How to create competitions"
Platform built .... Interface is up ...... Now  how do I build competitions

Also, I have successfully created demo levels? What does it meat that I must deploy image to a different machine? ????

T.Y.I.A.

( ͡° ͜ʖ ͡°)

[2016-05-20 11:33] MikeMichel commented on #90
you can play the dockerized version (will be merged soon i guess) at sloppy.io using the [quickstarter](https://github.com/sloppyio/quickstarters/tree/master/fbctf)

[2016-05-20 11:51] mehnomy commented on #90
@MikeMichel,

Just from one developer to another, this platform is about helping others to learn or advance their skills not for business(s) like sloppy.io to make business, the only thing you have brought with your small comment is a way for yourself to bring new customers by signing up for free which leads them to:

Kind Regards,
Byron Fisher

[2016-05-20 12:42] no1rscyber commented on #85
Any advice on migrating across networks would be appreciated.

Cheers,

[2016-05-20 12:42] MikeMichel commented on #90
well, checking you own hosting advise i am lead to a hosting provider using your affiliate link which is absolutely fine as it's a common thing to provide ways to deploy a github project to make it public available. thread starter asked for it, i answered. however, feel free to delete my comment.

[2016-05-20 13:01] mehnomy commented on #90
@MikeMichel,

A Quick statistics run down, 102 Unique Visitors, 8 of which have clicked on the link, 0 of which have purchased anything its a cheap option for those who are strapped for cash.

The Wiki was created to allow users who might be struggling with installation issues like i was, i had the 502 errors others were having, i had the flow not installing error others were having, i had several

[2016-05-20 13:07] mehnomy commented on #85
@no1rscyber this is beyond my knowledge i have asked one of my work colleagues however it is a Friday so i'm not sure when i will get a reply. Since it is the weekend maybe chuck it up on stack overflow or a similar website there are always heaps of active developers who might be able to resolve this.

Kind Regards,
Byron Fisher

[2016-05-20 13:59] mehnomy commented on #99
Hello @Hacktast1c,
What an interesting but complicated question you have asked, so let me try to explain.

Before even thinking of creating a competition the foundation first needs to be laid, within the Capture the Flag environment have you created the mini games, is the competition all based around the FBCTF?

**Mini games such as:**
 - Questions
 - Practical work (whiteboards are fun)
 - Creati

[2016-05-20 14:29] Excis3 commented on #99
Lol,
You have to deploy multiple vm's besides your CTF platform so not all challenges are held on the CTF server itself.
For example miss configured FTP challenges, weak Web Password challenges .....
The FB-CTF platform is just a point system to challenges you create. Where you can put in your solutions and get points for it.

This way you can create a competition.

[2016-05-20 16:04] evilchurch commented on #22
I installed it on my vps just now.
My steps are:
apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh prod $PWD
But i cant open it.I dont know i should type my vps's IP or 10.10.10.5 in browse.And when i type cat /var/log/nginx/error.log it shows
2016/05/20 11:47:56 [emerg] 9944#0: BIO_new_file("/etc/nginx/certs/fbctf.csr") failed (SSL: error:02001002:

[2016-05-20 17:53] Hacktast1c commented on #99
Thanks you for your reply.  I figured the same. We maintain a Dashboard for internal training.

So fbCTF will essentially allow me to create environments for each country !?

Ohh ... it's on !!!!!!!!!!

( ͡° ͜ʖ ͡°)

Thanks again ...... You guys rock.

[2016-05-20 18:44] arphanetx commented on #22
i just installed the server in a VM, with Ubuntu 14.04, generate the crs and key, but when i hit https://myip i just get a security warning to add the exception, and after that just got a blank page... with out any Login option or anything else. Can someone help me? thanks

[2016-05-20 18:53] arphanetx commented on #22
@evilchurch just follow this to create the certs:
cd /etc/nginx/certs
openssl genrsa -des3 -out self-ssl.key 2048
openssl req -new -key self-ssl.key -out self-ssl.csr
cp -v self-ssl.{key,original}
openssl rsa -in self-ssl.original -out self-ssl.key
rm -v self-ssl.original
openssl x509 -req -days 4000 -in self-ssl.csr -signkey self-ssl.key -out self-ssl.crt
mv self-ssl.crt fbctf.csr
mv self-ssl.key

[2016-05-20 19:04] mehnomy commented on #22
@evilchurch please take a look at what arphanetx has provided you, a CSR file is not your CRT or KEY file.

@arphanetx are you using Ubuntu 14.04 64bit?
Please make sure you have completed everything which is listed in my guide:
[The Guide](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)
- if your problem persists could you please copy and paste your provision output into a paste bin please.

[2016-05-20 22:18] arphanetx commented on #22
@mehnomy ok i did step by step ( ctr+c, ctrl+v ) all the manual and when i add the exception warning to get into the console i got a blank webpage, i will paste you the link for my logs https://github.com/arphanetx/Test/blob/master/log.txt, thanks  a lot.

[2016-05-21 02:31] evilchurch commented on #22
@mehnomy @arphanetx  It woked! I made it just now. Thank you.

[2016-05-21 02:45] evilchurch commented on #22
@mehnomy  I cant register a team. I cant login. So it's a universal question?

[2016-05-21 12:05] Younet007 commented on #96
Hi,
I move to ubuntu x64, and I have installed all the pre-requirements, all seems to be fine, until I can't access to 10.10.10.5 th page still blank, any Ideas??
best regards
Joseph

[2016-05-21 12:44] mehnomy commented on #96
@Younet007 have you tried ifconfig in the command line and using the IP address?
 - If you have could you please copy your provision output into a paste bin so I can take a look please.

Kind Regards,
Byron Fisher

[2016-05-21 12:59] Younet007 commented on #96
sould I configure my local interface??

[2016-05-21 13:09] Younet007 commented on #96
@tbowman01 I'm listening on 80 and 443.

[2016-05-21 13:35] mehnomy commented on #96
@Younet007 could you please copy and paste the ifconfig output to here.

Regards,
Byron

[2016-05-21 13:45] mehnomy commented on #22
@evilchurch
- login with username admin and the password was provided to you at the end of the output of the provision script.
- registration might be disabled in the administrator backend, turn it on once you have logged in.

Regards,
Byron

[2016-05-21 17:18] evilchurch commented on #22
@mehnomy ok got it

[2016-05-22 03:34] mehnomy opened #100 "Could we close Issues which have been resolved"
Hello Admin,

Could we please close all Issues which have been resolved i'm having issues trying to keep track on who needs help and who doesn't anymore.

lol accidentally closed, reopened it..

Regards,
Byron

[2016-05-22 03:37] mehnomy commented on #59
Hello @skyridertk,

- is your apache2 running? could you stop apache2 and then restart nginx.
- when you ran the provision script what was the location of your CRT and KEY files?
- whats your current build, as you have swapped from using production to development and also are you using with vagrant VM or without?
- could you delete everything in your nginx/error.log file and restart nginx and try

[2016-05-22 10:00] Younet007 commented on #96
Hi,
@mehnomy here the ifconfig output
enp0s3    Link encap:Ethernet  HWaddr 08:00:27:fe:ce:a8
          inet adr:10.0.2.15  Bcast:10.0.2.255  Masque:255.255.255.0
          adr inet6: fe80::e341:85b1:6bd1:1652/64 Scope:Lien
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          Packets reçus:617 erreurs:0 :0 overruns:0 frame:0
          TX packets:898 errors:0 dropped:0 overruns:0

[2016-05-22 10:02] mehnomy commented on #96
can you try 10.0.2.15 in your browser.

[2016-05-22 10:30] Younet007 commented on #96
It respnd by a bad gateway

[2016-05-22 10:35] mehnomy commented on #96
502? can you stop apache and start nginx

[2016-05-22 10:41] Younet007 commented on #96
I already did

[2016-05-22 11:27] Younet007 commented on #96
One more thing when I execute ./extra/provision.sh prod `pwd`, in some point it shows an error :
  ✔ flow binary test passed successfully
/usr/local/lib
└─┬ flow-bin@0.25.0
  └─┬ bin-wrapper@3.0.2
    └─┬ download@4.4.3
      └─┬ vinyl-fs@2.4.3
        └─┬ glob-stream@5.3.2
          └─┬ micromatch@2.3.8
            └── braces@1.8.5

Running "force:eslint" (force) task

Running "force-internal:pre

[2016-05-22 11:50] Younet007 commented on #96
I also modify the path in the provision.sh file and restart the nginx service, then I try to access to 10.0.2.15 and the page still blank.
Any more Ideas
Thanks .

[2016-05-22 11:51] mehnomy commented on #96
why did you modify the path in the provision script?

[2016-05-22 11:56] Younet007 commented on #96
the path seems wrong that's why.

[2016-05-22 12:09] mehnomy commented on #96
which one of these has the fbctf directory: cd /var/www or /usr/share/nginx/html or /usr/share/nginx/www?

[2016-05-22 12:11] Younet007 commented on #96
it's /usr/share/nginx/html and I put this path in the provision file

[2016-05-22 12:15] mehnomy commented on #96
are you sure your using 64 bit and not 32 bit?

[2016-05-22 12:19] Younet007 commented on #96
yes I run ubuntu 16.04 x64 in a Virtual machine

[2016-05-22 12:22] mehnomy commented on #96
Could you do me a favour can you create a new VM and follow my guide don't use Vagrant VM or anything else, just follow my guide with Virtual Box or similar software:
https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki

Make sure when first running the provision script that you know where your html or www directory is for nginx.

[2016-05-22 12:32] Younet007 commented on #96
ok I'll try
thanks.

[2016-05-22 14:55] agilajah commented on #80
This is maybe happens because your mysql root-account's password is different from what is actually need. I saw here : https://github.com/facebook/fbctf/blob/master/extra/provision.sh the password is 'root'. Maybe changing yout mysql root-account's password to 'root' can resolve the error.

[2016-05-22 19:06] skyridertk commented on #59
@Byron Icant locate nginx/error.log

On 21 May 2016 at 23:37, Byron Fisher <notifications@github.com> wrote:

[2016-05-22 23:54] mehnomy commented on #59
/var/log/nginx/error.log delete everything inside and do what I mentioned above please.

Regards,
Byron

[2016-05-23 09:57] Younet007 commented on #96
Hello @mehnomy
I reinstall the ubuntu 16.04 x64 and now I'm going to install the pre-requierements. Any advices
best regards
joseph

[2016-05-23 10:50] darkclownstein commented on #39
So what is the password then?

[2016-05-23 10:56] darkclownstein opened #101 "How to know username and password i tried admin:password"

[2016-05-23 11:23] mehnomy commented on #101
You are provided a admin password when you run the provision script, as the instructions tell you:

Regards,
Byron

[2016-05-23 11:25] darkclownstein commented on #76
i also have this problem

[2016-05-23 11:31] mehnomy commented on #76
@Shivam5o can you please read the wiki i have created you can only use Ubuntu 14.04 x64:
- [The Wiki](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

@darkclownstein could you please reply back in your own issue.

[2016-05-23 11:33] darkclownstein commented on #101
THANKS! Can I change it?

[2016-05-23 11:35] mehnomy commented on #101
If you have any other issues please reply back here in your own issue.

Regards,
Byron

[2016-05-23 11:41] mehnomy commented on #96
@Younet007

The only advice i can give you, is make sure to follow my guide very strictly don't give anything follow everything in order, the `index` on the home page has numbers for a reason.
[The Wiki](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

Regards,
Byron

[2016-05-23 11:42] Shivam5o commented on #76
@mehnomy you mean to say i need to install again in production mode with my own SSL certificates?
Development mode won't work?

[2016-05-23 11:48] mehnomy commented on #76
@Shivam5o
**Production Mode:**
- if you need a SSL Certificate you can get a free one from https://letsencrypt.org, it does work with a self signed certificate however its **NOT unrecommended**. Else i would recommend purchasing one from name cheap where you can get a domain for $.88 and a Comodo SSL Certificate for an extra $2 at the cart page.

**Development Mode:**
- You can use a self signed S

[2016-05-23 11:49] darkclownstein commented on #101
@mehnomy i got this error
Login incorrect

[2016-05-23 11:52] mehnomy commented on #101
@darkclownstein Could you please upload a screenshot to [Imgur](https://imgur.com)

Regards,
Byron

[2016-05-23 12:26] Shivam5o commented on #76
Thank You. I will do that.

[2016-05-23 12:26] #76 closed

[2016-05-23 14:36] JamieH opened #102 "What does -DEC do?"
Both quizes and normal challenges have a `-DEC` - What is this? It doesn't appear to be in the documentation?

[2016-05-23 14:45] tbowman01 commented on #102
It appears to decrement the bonus for each wrong answer.  ie.  If you were to set the bonus to 30 points and the decrement to 10 then for each wrong answer the bonus would decrease.

[2016-05-23 14:54] tbowman01 commented on #98
@landmanmanc I agree, it may be beneficial to export the given details to a file.

However, if there was a way to import/export game data.  Then quickly turn an entire question category on/off that might help with large data sets.

On a slightly different path...  After the CTF has completed, it might be beneficial to provide a customized report for each player.  As this is used for an educational

[2016-05-23 15:05] arphanetx commented on #22
@mehnomy i got a new error, after leave this for the week end, i got a 502 error Nginx, i was checking my listen ports:

tcp           0              0 0.0.0.0:80                   0.0.0.0:*
tcp           0              0 127.0.1.1:53               0.0.0.0:*
tcp           0              0 0.0.0.0:22                   0.0.0.0:*
tcp           0              0 0.0.0.0:443                 0.0.0.0:*
tc

[2016-05-24 00:11] mehnomy commented on #98
@tbowman01 thats a really cool suggestion, i will take a look into that as future milestone, after the front-end editor. 👍
- won't be able to do each player as it is teamwork.

Kind Regards,
Byron Fisher

[2016-05-24 03:10] gsingh93 commented on #100
I've been super busy, planning on going through the issues and PRs very soon.

Thanks for all the help with responding to questions @mehnomy!

[2016-05-24 03:10] #100 closed

[2016-05-24 06:11] darkclownstein opened #103 "what should I do? I think it's not complete"
![Uploading error.png…]()

[2016-05-24 06:29] FinlayDaG33k opened #104 "Admin Panel not logging me in"
Hii There,

Today I decided to install fbctf on my own server so that I can play with some of my friends, but after the installation, I can't login into the admin panel.

I go to `login` and enter these credentials:
team name: `admin`
password: `the password given by the provisioning script`

It does not show up the red text meaning that the password is incorrect, but instead it redirects me to th

[2016-05-24 06:34] mehnomy commented on #104
Two Options since you don't want to pay:
- You can get a free SSL certificate from: http://letsencrypt.org
- Use a self signed certificate you will get a warning that its not a trusted SSL certificate when loading the page, click advance and then click continue to website.

Kind Regards,
Byron Fisher

[2016-05-24 06:35] mehnomy commented on #103
You need to explain your situation a little more, we can't help with such little information.

can you please copy and paste the output of the provision script so we know what other errors you're having, you also have another issue opened has that been resolved:
https://github.com/facebook/fbctf/issues/101

Kind Regards,
Byron Fisher

[2016-05-24 06:47] FinlayDaG33k commented on #104
Thanks for your reply.
I will try to use letsencrypt.

Also, does fbctf really need HTTPS? (because then I can keep that in mind for next time)

[2016-05-24 07:13] no1rscyber commented on #85
Thanks for your pointers Byron, we are "reluctantly" going to leave it on our 192 Internet network for the time being.

[2016-05-24 07:13] #85 closed

[2016-05-24 07:49] gsingh93 commented on #22
This issue has gotten fairly large. If you're still having a problem setting up the repo, make a new issue, and we'll help you individually there.

[2016-05-24 07:49] #22 closed

[2016-05-24 07:50] gsingh93 commented on #69
If you're still having issues, please reopen.

[2016-05-24 07:50] #69 closed

[2016-05-24 07:51] gsingh93 commented on #80
If you're still having issues, please reopen.

[2016-05-24 07:51] #80 closed

[2016-05-24 07:52] gsingh93 commented on #81
If you still need help, let us know.

[2016-05-24 07:52] #81 closed

[2016-05-24 07:55] gsingh93 commented on #44
If you're still having an issue, please reopen.

[2016-05-24 07:55] #44 closed

[2016-05-24 07:56] gsingh93 commented on #102
@javuto can you document this in the wiki?

[2016-05-24 07:57] gsingh93 commented on #87
@javuto can you document strong passwords along with some of the other configuration in the wiki?

[2016-05-24 08:04] #99 closed

[2016-05-24 08:05] gsingh93 commented on #96
Please follow the README instructions carefully. Only 64 bit Ubuntu 14.04 is supported at this time. Please reopen if you're still having issues.

[2016-05-24 08:05] #96 closed

[2016-05-24 08:07] gsingh93 commented on #92
Please reopen if you're having issues. I've heard that Vagrant/VirtualBox on Windows works fine, but I can't confirm myself.

[2016-05-24 08:07] #92 closed

[2016-05-24 08:07] #61 closed

[2016-05-24 08:08] gsingh93 commented on #38
Please reopen if you're still having issues.

[2016-05-24 08:08] #38 closed

[2016-05-24 08:08] gsingh93 commented on #30
Let us know if you're still having issues.

[2016-05-24 08:08] #30 closed

[2016-05-24 08:11] gsingh93 commented on #98
Closing since I already stated import/export is in the roadmap.

[2016-05-24 08:11] #98 closed

[2016-05-24 08:13] gsingh93 commented on #95
@mehnomy's response covers some of it, other than that I'd look at the extra/provision.sh and extra/lib.sh scripts and remove any packages we've installed with `sudo apt-get remove <package name>`.

[2016-05-24 08:13] #95 closed

[2016-05-24 08:14] gsingh93 commented on #86
Thanks for the issue! We still need to expose the player names in the UI.

[2016-05-24 08:16] gsingh93 commented on #88
If you're still having an issue please reopen.

[2016-05-24 08:16] #88 closed

[2016-05-24 08:23] gsingh93 commented on #104
We have not tested without HTTPS, but I believe you'll need to make some modifications to run it without HTTPS.

We want to make running CTFs as easy as possible, but we also want to make sure the CTFs are run securely, so we force SSL by default. That being said, we're working on Let's Encrypt integration so users don't need to worry about any of that in the future.

[2016-05-24 09:32] FinlayDaG33k commented on #104
ah okay,
It works now so thanks :)

[2016-05-24 14:39] arphanetx opened #106 "I got a blank web page...."
I follow the guide from @mehnomy ( https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki/Installing-FBCTF ) is really useful, all goes good, ubuntu 14.04 server x64, follow step by step, after all the installation, when i try to reach https://myip it connect, i saw the ports listening in 80 and 443, also when i connect to https://myip it only shows a blank page.

the nginx is running, the hhvm, so i

[2016-05-24 22:32] javuto commented on #106
What do you get if you do ```curl -vk https://localhost``` in the same machine where you installed it?

[2016-05-24 22:33] #104 closed

[2016-05-25 01:02] darkclownstein commented on #103
Complete! I run Facebookctf on firefox browser. But it should be run on vm right?
![fbctf](https://cloud.githubusercontent.com/assets/19530586/15524714/57ac4546-2257-11e6-84ff-975f2a05db33.png)

[2016-05-25 01:50] mehnomy commented on #103
@darkclownstein its up to you where you want to create the environment, we suggest using a Virtual Machine so it can easily be switched on and off when not in use. We also recommend using a VM as the challenges wouldn't be accompanied with the same server/machine for hacking purposes (the challenges) or anything which could damage the platform.

**Environment Setups:**
- If you're just wanting to

[2016-05-25 02:14] darkclownstein commented on #103
Well i dont have any friends that has interest in this. Do you have any suggestion? Thanks in advance 😊

[2016-05-25 02:48] mehnomy commented on #103
@darkclownstein I'm not quite sure whether you have any coding abilities, though i do see that you're using a Linux OS (Ubuntu) on your personal computer so you may have some.

**If you want to learn how to code there are some really cool free websites and resources out there:**

**Code Academy:**
Code Academy is a really fun and interactive learning environment which has on offer HTML, CSS, PHP,

[2016-05-25 07:02] darkclownstein commented on #103
Well im 1st yr college 17yrs'old IT student from the Philippines and i have some "BASIC" idea on computer programming language like Java and webprogram html css js php. I have windows 10, ubuntu, and also kali linux triple boot(i also want to become a e IT Security XD lol, but idont have enough knowledge) i dont have my own internet connection but my neighbors does. Thats why i have kali linux and

[2016-05-25 12:08] javuto commented on #103
@darkclownstein it seems like you have the platform running now, nice! The next step will be to add challenges if you want to run a competition yourself. There are some examples here: https://github.com/facebook/fbctf/tree/master/demo_levels
If you want to focus in Security, I'd suggest you to take a look at other available CTFs, you can get a list in https://ctftime.org/event/list/upcoming or als

[2016-05-25 12:08] #103 closed

[2016-05-25 12:08] #101 closed

[2016-05-25 15:29] killer123246 commented on #101
I can login perfectly,please check your login and password again

[2016-05-25 15:34] killer123246 commented on #103
Yes it should
But how did u run it as a website,I don't have much time to use the
computer cuz I have school so.... I don't know why is it possible to run it
like this

[image: fbctf]

[2016-05-26 01:32] mehnomy commented on #103
@killer123246 could you please make your own issue, as provide more information have you tried following [my wiki for Production mode](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki).

- If creating a new issue information which would help us: the output of the provision script, any errors you seen, and make sure your running Ubuntu 14.04 it MUST be 64bits all of this information and more is i

[2016-05-26 08:44] adipginting opened #109 "Clearing FacebookCTF message after login to tty1"
I tried to install fbctf on my local Ubuntu machine, non vagrant. It turned out I can't make it successfully. I have uninstalled most of the leftovers but something is still there. The FacebookCTF message appears every time I login to tty1. Any thought to remove it?

[2016-05-26 08:52] mehnomy commented on #109
read what the provison script installs and uninstall them.

Regards,
Byron

[2016-05-26 17:11] javuto commented on #109
@adipginting that message is set as MOTD. The code that does that is in the function ```set_motd``` here: https://github.com/facebook/fbctf/blob/master/extra/lib.sh#L48
To remove the facebookCTF message just remove ```/etc/update-motd.d/10-help-text``` and it will be gone in the next login.

[2016-05-26 17:11] #109 closed

[2016-05-26 21:59] paulmar opened #111 "Deleting a user leads to unusable admin area"
After deleting a regular user through the admin area, parts of the admin become unusable.

Accessing the Configuration section does not work:
`[Thu May 26 21:56:56 2016] [hphp] [10216:7f418afff700:715:000001] [] \nFatal error: Uncaught exception 'HH\\InvariantException' with message 'Expected exactly one result' in /var/www/fbctf/src/models/Session.php:94\nStack trace:\n#0 /var/www/fbctf/src/model

[2016-05-27 00:38] javuto commented on #111
This seems like a problem. Is this in the middle of a game? Are there scores done by that team?

[2016-05-27 08:46] adipginting commented on #109
Thanks @mehnomy. I did like what @javuto said. It worked.

[2016-05-27 09:06] paulmar commented on #111
Yes, it was in the middle of the game and I believe some teams had points. I can take another look if you can't reproduce.

[2016-05-30 08:33] swappage opened #113 "Countdown timer to next game"
Hello,
i'm having an hard time in figuring out how to properly set up the countdown page.

I can't seem to find a configuration in the admin panel, but also by editing the value in the configuration table of the database doesn't seem to affect the page behaviour.

It always says "SOON"

I took a quick look at the controller int he source and the genRenderCountdownContent() should render the next d

[2016-06-01 00:25] mehnomy commented on #106
@arphanetx are you still have any issues, if not could you please inform us on what your solution was for others to read and if you don't mind closing the issue.

Regards,
Nomy

[2016-06-01 18:27] r0p0s3c opened #116 "mysqld not (re)started during installation"
As per #69, mysqld is installed but not started by extra/lib.sh, leading to the installation failing. As per the comments in that issue, please consider adding a "sudo service mysql restart" in install_mysql.

[2016-06-01 19:33] gsingh93 commented on #116
MySQL should start automatically. Running `sudo apt-get install mysql-server` on an Ubuntu 14.04 Vagrant VM gives me this at the end of the output:

[code]

[2016-06-01 20:21] r0p0s3c commented on #116
Interesting. I see, after that line:

`invoke-rc.d: policy-rc.d denied execution of start.`

This is running in a container (ubuntu:trusty) via docker. May be worth documenting this issue somewhere.

[2016-06-01 20:48] gsingh93 commented on #116
Interesting, thanks for the details. We should have docker containers soon, so we'll investigate more then.

[2016-06-02 14:42] markszabo commented on #16
This could also serve as mobile-friendly version of the platform.

[2016-06-02 14:49] wotd commented on #111
@javuto any ideas how to fix it? Same problem here...

[2016-06-02 15:08] markszabo opened #117 "Add different team types (selected at registration)"
Sometimes the CTF is organized for a given group (for example high school students), but it is open for everyone. Since only they are entitled for the prices, upon registration the users should be able to select whether they are from that group or not.

I think different team types should have there own Scoreboard, maybe also with a global one.

Leaderboard is a question, whether that should be re

[2016-06-03 08:26] wotd commented on #111
@paulmar and @javuto  - I have executed this query in mysql:
mysql> delete from progressive_log;
Query OK, 470 rows affected (0.01 sec)
and now admin panel is back. I hope it will help you find the issue

[2016-06-03 21:54] mjksec commented on #111
I had the same problem after deleting a team after they accidentally created a wrong team. Now am unable to access admin panel.

What are the steps exactly to remove?

[2016-06-03 22:26] Hitman14 opened #122 "I cant to open the platform, Help needed!"
My os is os x el captain, i've a vm set up with ubuntu 14.04. it says that server is ready on 10.10.10.5 and obviously wont load on the web browser, any help would be greatly appreciated.

p.s I know this a nube question! been trying to get this working for a while

[2016-06-04 05:43] wotd commented on #111
@mjksec ssh to server, run mysql -uctf -p (default password is: ctf). in mysql change database to fbctf: **use fbctf;** and then this command: **delete from progressive_log;** I was comparing two instances (one with no access to admin after team deletion and second one, fresh installed) and I was trying to remove entries that were not present in second one (of course I skipped already created puzz

[2016-06-04 17:00] mjksec commented on #111
Thanks @wotd.

I tried that, and the output was as above "Query OK."

But it doesn't get me back to the admin page. Logging in, I get an

ctf is currently unable to handle this request.
HTTP ERROR 500

If I run status on the db. I get the following output

`status;
--------------
mysql  Ver 14.14 Distrib 5.5.49, for debian-linux-gnu (x86_64) using readline 6.3

Connection id:		67
Current database:

[2016-06-04 18:20] wotd commented on #111
Sorry @mjksec it just worked for me. Maybe try restart services - hhvm, nginx and mysql?

[2016-06-04 21:37] mjksec commented on #111
Nope, didn't work either.
I also tried force-reload on HHVM and NGINX.

What has worked for me though, is specifying a URL path beyond the admin login.

For example - https://domain/index.php?p=admin&page=logs

It's a crappy workaround at present until I work out how to fix it. But I have a game scheduled for Monday with my team to present this as an awareness platform, so I was beginning to panic

[2016-06-04 23:12] swappage opened #123 "Challenge bonus points dont get reset on new games"
This can be trivial, considering that generally you run the same game once.

but i think this is important as i generally test the platform and the challenges before going to production.

I noticed that when you start the first fresh game, points are scored accordingly:
- first solve BASE+30
- second solve BASE+20
- third solve BASE + 10

if you stop the game and start a new one from scratch with

[2016-06-04 23:29] gsingh93 commented on #123
Duplicate of #82. Easiest way to reset points until this bug is fixed is to run a SQL `UPDATE` command on the levels table, setting the bonus value to what you want.

[2016-06-04 23:29] #123 closed

[2016-06-05 07:45] boyokmard commented on #111
Same issue here. @wotd workaround didn't work. Any idea how to fix this issue?  @mjksec

[2016-06-05 07:49] no1rscyber commented on #122
Are you using the 64bit version of Ubuntu Server?

[2016-06-05 08:36] boyokmard commented on #111
OK, I figure out a workaround. The issue is with foreign key (team_id) in registration_tokens table. Execute 'delete from registration_tokens' to delete all tokens and you are good to go.

[2016-06-05 08:47] boyokmard opened #124 "Additional game durations"
Currently game duration is between 1 to 24 hours. Some CTF take longer than 24 hours. Add additional game durations i.e.
- 2 days
- 7 days
- 30 days
- 90 days
- 1 year

[2016-06-05 09:40] wotd commented on #111
Right! I did it too! However I am pretty sure I checked after this and I had still blank panel - maybe browser cache? Anyway, good there finally is working workaround:) thx @boyokmard

[2016-06-05 10:08] mjksec commented on #111
Brilliant! Confirm that worked.

[2016-06-05 16:03] markszabo commented on #124
Already requested here #78 and also pull request was submitted here #118

[2016-06-05 16:06] markszabo commented on #122
Why don't you just clone the repository, cd into fbctf folder and run `vagrant up` (or `LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8 vagrant up` if you are using a non-English locale on the host system)? It will start the virtual machine for you, install everything etc. Then you can open a browser on your host system (os x) and go to 10.10.10.5

[2016-06-05 17:33] Hitman14 commented on #122
when i run vagrant up it says "the box 'ubuntu/trusty64' could not be found"...
any input?

[2016-06-05 17:39] gsingh93 commented on #124
Yup, closing as a duplicate.

[2016-06-05 17:39] #124 closed

[2016-06-05 18:20] markszabo commented on #122
Strange. Try `vagrant box add ubuntu/trusty64` first

[2016-06-05 19:17] Hitman14 commented on #122
i tried this and says invalid command, it says i need too put a url after 'vagrant box add ubuntu/trusty64'

[2016-06-05 20:32] markszabo commented on #122
Do you have VirtualBox installed? You might want to try these commands also: `vagrant init ubuntu/trusty64; vagrant up --provider virtualbox` from [here](https://atlas.hashicorp.com/ubuntu/boxes/trusty64/versions/20160601.0.0)

[2016-06-05 22:53] Hitman14 commented on #122
yes I have virtualbox and vagrant installed', still comes up with 'could not be found' and if run 'vagrant box list' it says 'there are no installed boxes'

[2016-06-06 00:12] Hitman14 commented on #122
okay so ran 'vagrant add box ubuntu/trusty64 https://cloud-images.ubuntu.com/vagrant/trusty/current/trusty-server-cloudimg-amd64-vagrant-disk1.box' then when i run vagrant up it boots the correct box but then i get an error saying 'invalid state' and that its in a poweroff state. do i need to open my browser or what? appreciate the help btw.

[2016-06-06 02:03] gsingh93 commented on #122
What version of vagrant do you have? After doing some digging online it seems like people with older versions ran into this problem.

[2016-06-06 12:34] Hitman14 commented on #122
In not sure what version I have, I ran "Sudo apt-get install vagrant" thought this would have installed the latest version

[2016-06-06 20:23] javuto commented on #122
Vagrant has to be installed in your machine, which you mentioned earlier is OSX ElCapitan. Please do follow these instructions in OSX to install vagrant within ElCapitan, because it seems like you are installing vagrant within the Linux virtual machine. https://www.vagrantup.com/docs/installation/

[2016-06-06 20:23] #106 closed

[2016-06-07 15:31] javuto commented on #117
This is a good point @markszabo. We had this issue in the past actually, having to run a competition with a single scoreboard but multiple categories of participants. We decided to have separate scoreboards but we did not have the leaderboard back then. I like your approach, but it might add a lot of text. @gsingh93 thoughts?

[2016-06-07 15:53] #59 closed

[2016-06-07 15:53] #90 closed

[2016-06-07 15:55] javuto commented on #77
Yeah, we can do that. Makes sense.

[2016-06-07 17:07] javuto commented on #24
Done and committed!

[2016-06-07 17:07] #24 closed

[2016-06-07 17:07] javuto commented on #24
For tracking purposes: https://github.com/facebook/fbctf/commit/1efd073a88dbf6abc30cdf303133d62dae5b7879

[2016-06-07 17:40] gsingh93 commented on #117
Yea, I want this feature. I also agree we should display it a bit differently, so there's less text.

Maybe:
[code]

[2016-06-08 01:04] Hitman14 commented on #122
okay so i've created a new vm running ubutntu 14.04 server and have ran the following commands; `sudo apt-get update
sudo apt-get install git
git clone https://github.com/facebook/fbctf
cd fbctf
./extra/provision.sh -m prod -s $PWD`

its telling me to go to 10.10.10.5 and has auto generated a password, where do i go from here

[2016-06-08 01:54] gsingh93 commented on #122
10.10.10.5 only applies when you're running it in vagrant. If you're not running in vagrant, it'll be the IP address of your server. If you're running a VM on your local machine, then you should go to https://localhost in the browser in your VM.

[2016-06-08 10:06] nikhilgeo opened #126 "LDAP integration for Team Login"
Hi,
I'm planning to use fbctf to conduct a CTF. But I like to integration the team registration with LDAP.
It will be very helpful if you can point me which files need the change...I'm pretty new to php and hack....
Thanks in advance..

[2016-06-08 19:24] javuto commented on #126
@nikhilgeo, all the code for registration and login lives here: https://github.com/facebook/fbctf/blob/master/src/controllers/ajax/IndexAjaxController.php
You can probably replace those by your own code to integrate LDAP login and create the session, after that, everything else should work fine. Let us know how that goes!

[2016-06-08 22:27] gsingh93 opened #128 "Add pause/resume buttons to pause/resume the game"
These would do the same thing as Begin/End but they wouldn't reset the scores.

[2016-06-10 16:51] cadewolcott opened #129 "Access the Ubuntu 14.04 VM"
I have FBCTF up and running on localhost in dev mode, however I cannot find the correct credentials for the virtual box. Any help?

[2016-06-10 17:16] javuto commented on #129
Did you use vagrant for setting up the virtual machine? If so, from the fbctf folder, you can run ```vagrant ssh``` and it will connect to your development Ubuntu virtual machine. If you want to connect to that machine, you can see what is the SSH configuration used with the command ```vagrant ssh-config```

[2016-06-11 01:11] cadewolcott commented on #129
Yes I used vagrant and will try what you suggested!

[2016-06-11 03:26] jakosky opened #130 "Libdouble not found. Service doesn't start."
==> default: [+] Restart HHVM
==> default:  * Restarting HHVM FastCGI Daemon hhvm
==> default: /usr/bin/hhvm: error while loading shared libraries: libdouble-conversion.so.1: cannot open shared object file: No such file or directory
==> default:    ...fail!
==> default: [+] Installing composer
==> default: php: error while loading shared libraries: libdouble-conversion.so.1: cannot open shared obj

[2016-06-11 03:44] gsingh93 commented on #130
Is this on a 14.04 VM, a 14.04 physical machine, or something else? What is the output of `hhvm --version`?

[2016-06-11 03:46] jakosky commented on #130
Vagrant VM. I copied the output of "vagrant up".

vagrant@facebookCTF-Dev:~$ hhvm --version
hhvm: error while loading shared libraries: libdouble-conversion.so.1: cannot open shared object file: No such file or directory
vagrant@facebookCTF-Dev:~$

[2016-06-11 03:52] gsingh93 commented on #130
Can you paste the entire output of running `vagrant up` (preferably on a fresh VM, i.e. after running `vagrant destroy`)? Maybe there was an issue installing a dependency earlier in the script.

[2016-06-12 02:51] divancorp commented on #122
I'm having same issue. Unable to access Dev Mode
I have Windows 8
Step 1. Installed Latest Virtual Box
Step 2. Installed Windows version of vagrant
step 3. Installed Git
Step 4. Opened Git Shell
Step 5. git clone https://github.com/facebook/fbctf
cd fbctf
vagrant up
Step 6. Vagrant Up
Step 7. Access https://10.10.10.5
This site can’t be reached

10.10.10.5 refused to connect.

Would someone please

[2016-06-12 03:20] gsingh93 commented on #122
When you ran `vagrant up`, did you see any errors? Can you post the output here?

[2016-06-12 03:26] jakosky commented on #130
[code]

[2016-06-12 04:53] divancorp commented on #122
I have email you complete log file.

[2016-06-12 15:49] javuto commented on #130
I just reproduced this problem in my environment and it seems to be a problem with the HHVM package. The solution is to run ```sudo apt-get install liblz4-1 libdouble-conversion1``` after the installation of HHVM, I will update the provision script to workaround this problem until the fix is pushed to the HHVM package. For reference: https://github.com/facebook/hhvm/issues/7150

[2016-06-12 16:07] javuto commented on #130
Committed here until this issue is sorted: https://github.com/facebook/fbctf/commit/61a8e4f7afa729d08a0159b3b700b5343f451cb5

[2016-06-12 22:37] louMacias opened #132 "Error with hhvm"
I have been trying to get fbctf to work with vagrant up and I keep receiving an error:
 /usr/bin/hhvm: error while loading shared libraries: libdouble-conversion.so.1: cannot open shared object file: no such file or directory
Then two lines down there is another error:
php: error while loading shared libraries: libdouble-conversion.so.1: cannot open shared object file: no such file or directory
Cu

[2016-06-12 23:21] louMacias commented on #130
I am also having the same problem

[2016-06-13 00:06] gsingh93 commented on #132
There is a recent bug in HHVM. Did you clone today or some time before today? @javuto committed a fix earlier today: https://github.com/facebook/fbctf/commit/61a8e4f7afa729d08a0159b3b700b5343f451cb5

[2016-06-13 00:07] gsingh93 commented on #130
@louMacias did you clone today or yesterday? If you're on the latest version and have commit 61a8e4f and you're still having issues, let us know.

[2016-06-13 00:13] louMacias commented on #132
@gsingh93 I cloned one yesterday. I will try a new clone and see how it goes.

[2016-06-13 01:05] divancorp commented on #130
I just updated 8:00 PM EST
C:\Users\cash\Documents\GitHub\fbctf [master]> git remote update
Fetching origin
remote: Counting objects: 4, done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), done.
From https://github.com/facebook/fbctf
   551ebde..61a8e4f  master     -> origin/master

Still having same issue

[2016-06-13 01:17] louMacias commented on #132
@gsingh93 It works. Thank you so much for responding me and letting me know. And Thank you @javuto for the fix

[2016-06-13 01:17] #132 closed

[2016-06-13 03:01] devkell opened #133 "I got a blank web page"
I follow the guide from @mehnomy ( https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki/Installing-FBCTF ) is really useful, all goes good, ubuntu 14.04 server x64, follow step by step, after all the installation, when i try to reach https://myip it connect, i saw the ports listening in 80 and 443, also when i connect to https://myip it only shows a blank page.

the nginx is running, the hhvm, so i

[2016-06-13 06:20] no1rscyber opened #134 "Request to access Private Repo"
I emailed in sometime ago now to request access to the Private Repo for an event we are running later in the year.

Now either you have been inundated with requests, decided not to respond or not received my email.

A response either way would be appreciated.

[2016-06-13 12:48] tbowman01 commented on #134
I received a response within a week; around the middle of May and the comment in the email was:

I have not seen any action on this since the email.

[2016-06-13 21:20] Orvid commented on #130
The upstream 14.04 package has been pushed, so this should now work correctly.

[2016-06-13 21:45] jakosky commented on #130
I just pulled 61a8e4f. `vagrant up` succeeded and I was able to log onto https://10.10.10.5.

[2016-06-13 21:45] #130 closed

[2016-06-14 15:55] hackmethod commented on #134
@tbowman01, It's good to know they are responding and not just ignoring or being slammed with access requests.  Thanks.

@everyone, In addition to the FBCTF repo, I am also looking for individuals to build challenges, mainly web and RE.  If there is a network of hidden talented people like this that exist, I would like to find them.

[2016-06-14 15:59] hackmethod commented on #113
@swappage Did you get a response on this matter?  I would also like to know how I can set a countdown timer for the next CTF we host.

[2016-06-14 16:04] javuto commented on #133
Are you running the platform in a machine with direct Internet access? What happens when you try to access ```https://127.0.0.1```? Can you run in the command line from that machine the command ```curl -k https://127.0.0.1``` and see what happens?

[2016-06-14 16:08] gsingh93 commented on #113
Sorry for not responding, we labelled the issue meaning it's something we need to fix. We don't have an ETA on a fix at the moment.

[2016-06-14 18:41] javuto commented on #122
@divancorp can you post it here, so the triaging can help to other people as well? Thanks.

[2016-06-15 00:07] juliannagler commented on #134
Hey @no1rscyber - So sorry for the radio silence! We've indeed received exponentially more requests than we had expected (which is a great problem to have). Reguardless of that, we’ve decided to take a step back to completely revamp our challenges repo, adding more clarity and additional choice in difficulty and category. We hope to have the challenges ready for distribution in the coming weeks, a

[2016-06-15 09:34] no1rscyber commented on #134
No worries and thanks for responding. I have generated about 2 to 3 hours worth of activity for my platform already and look forward to expanding it further.

[2016-06-15 12:50] #134 closed

[2016-06-15 13:38] kirito269 opened #135 "Need uninstall this program without reinstall system"
I install in my Physics machine .Need to uninstall this without reinstall my ubuntu.

[2016-06-15 18:07] rdenman opened #136 "Unable to Login to VirtualBox Command Line"
I have the platform working on my host OS and I'm able to login and edit the configurations through the site, but I have not been able to login to the guest OS. Every time I try to login, I am told that the login is incorrect. As far as I've been able to find, the login should be username=admin and password=password for the development environment. Am I using incorrect credentials?

[2016-06-15 18:10] rdenman commented on #136
sorry, I had not noticed that this issue was opened and solved a few days ago

[2016-06-15 18:15] rdenman commented on #136
After lots of guesswork, I found that I was able to login to the development environment using the username 'vagrant' and the password 'vagrant' - I'm assuming these are the defaults. Before doing so, I ran the commands 'vagrant ssh' and 'vagrant ssh-config' - though I'm not sure if these were necessary to create the login credentials.

[2016-06-15 18:15] #136 closed

[2016-06-15 19:59] gsingh93 commented on #136
The proper way to log in to the vagrant VM is to run `vagrant ssh` on the command line in the fbctf folder. I haven't had time to add this to the README yet, but I plan to do so.

[2016-06-15 20:04] javuto commented on #135
This is not a bad idea. Having a script or a provisioning mode that uninstalls all that was installed for the fbctf. Thanks for the suggestion @kirito269!

[2016-06-16 13:01] chokkoretto opened #138 "Help with setup"
Hi there,

When running this
 ./extra/provision.sh -m prod -s $PWD

It ends up with this
[+] Installing composer
/var/www/fbctf/extra/lib.sh: line 229: curl: command not found
Notice: File could not be loaded: composer.phar

Is this an issue?  Because immediately after this, I try to set password and it returns

set_password new_password ctf ctf fbctf $PWD
set_password: command not found

Thanks!

[2016-06-16 14:23] #129 closed

[2016-06-16 16:48] gsingh93 commented on #138
Are you installing this in a VM or on a physical Ubuntu 14.04 machine?

It seems that some machines do not have curl installed by default, even though the Vagrant VM definitely does. We should probably install curl in the provision script.

[2016-06-16 17:58] cadewolcott opened #139 "Problems with changing ip address in VagrantFile"
I try changing the ip address in my VagrantFile to my private ip, but when running vagrant up I got the following error:

The specified host network collides with a non-hostonly network!
This will cause your specified IP to be inaccessible. Please change
the IP or name of your host only network so that it no longer matches that of
a bridged or non-hostonly network.

Any help?

[2016-06-16 18:18] chokkoretto commented on #138
This is a physical machine.  So should this simply be an install for curl to correct this?

[2016-06-16 19:14] benichmt1 commented on #133
I had a similar issue and can confirm that it was running on 127.0.0.1.
I think his issue stems from the hardcoded IP in provision.sh

https://github.com/facebook/fbctf/blob/16cc965c3242a2c94ba45d02e64d65324d2ef1fb/extra/provision.sh#L235

<code>

ok_log 'fbctf deployment is complete! Ready in https://10.10.10.5'
</code>

[2016-06-16 20:38] gsingh93 commented on #138
Yea, installing curl before running the provision script should fix it. Just so we can understand which Ubuntu versions have this issue, can you please give me the output of the following commands:

[code]

Did you setup the server with the Ubuntu Server image or the Desktop image?

[2016-06-16 20:45] hackmethod commented on #94
@anyone

I am currently now having this issue.  I was running live (production) for a few days adding challenges, adjusting point vaules, adding files for download, messing with the game itself with how a user would interact, etc.  Then work reared is ugly face and I had to leave it... yesterday I found some time to start messing with it again and I get "502 Bad Gateway".  Anyone have any troubles

[2016-06-16 23:33] divancorp commented on #122
Fixed part of https://github.com/facebook/fbctf/issues/130

Issue Details

This is the first time

Bringing machine 'default' up with 'virtualbox' provider...
==> default: Importing base box 'ubuntu/trusty64'...
==> default: Matching MAC address for NAT networking...
==> default: Checking if box 'ubuntu/trusty64' is up to date...
==> default: Setting the name of the VM: fbctf_default_1465705750561

[2016-06-17 05:06] mehnomy commented on #89
Just to give a brief update:
I'm now just cleaning up my code and going to package it up when i have a bit of free time available, will do the final testing as well during that free time.

Regards,
Byron

[2016-06-17 05:15] mehnomy commented on #133
@devkell seems to have resolved he's initial issue as he's asking questions via:
https://github.com/mehnomy/FBCTF-Ubuntu-Setup/issues/2

@benichmt1 are you still having an issue?
 - we are quite aware of the hardcoded IP as its used within the development so users can get familiar with the environment.

Depending on what type of environment you're running the in FBCTF the IP address will be differ

[2016-06-17 05:18] mehnomy commented on #138
@chokkoretto

I have a guide which goes the requirements needed to install this on a Ubuntu 14.04x 64bit for both Server Image and Desktop Image.

[The Guide](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

Please follow the guide step by step, if you have any issues please reply back here.

Regards,
Byron

[2016-06-17 05:21] mehnomy commented on #122
@divancorp could you please use PasteBin next time when copying and pasting chunks from your terminal, could you also inform us whether you're still having issues as you are currently in 3 different issues.

Regards,
Byron

[2016-06-17 12:36] benichmt1 commented on #133
@mehnomy no, I am totally fine. I was just guessing what the OP was struggling with. I just followed the output link from the script mindlessly and saw what I think he saw.

[2016-06-17 17:12] javuto commented on #139
The IP address assigned to the vagrant box can not be the same as your machine. Those are two separate machines. If you want your machine to be accessed as the CTF platform, you can setup port forwarding. Here is a good guide on how to do it: https://www.vagrantup.com/docs/networking/forwarded_ports.html

[2016-06-17 17:12] #139 closed

[2016-06-17 17:14] #94 closed

[2016-06-18 16:55] SimPlaysGames opened #141 "Error starting up vm?"
Hey, I am using trying to set this up, on a windows system using virtualbox, but when I run the command "vagrant up" in the fbctf directory. But I get this error:

http://pastebin.com/VHXaZ1tg

==> default: Booting VM...
There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. The command and stderr is shown below.

Command: ["startvm", "e37cfb98-0bab-4823

[2016-06-19 00:16] jeff350 commented on #133
after I initially setup my instance all I was able to see was a blank page. After some playing around I found that the issue was that I was using an add blocker in my browser. AdBlock Plus will not allow any content to be rendered on the page. This could be one possible cause.

[2016-06-19 06:02] atoooooooooom10 opened #142 "How to upload the fbctf to GoDaddy Hosting?"
Hi,

It was my first time to work with VM and Vagrant and I managed to make the FBCTF work on my windows. Now, I'd like to know how to make it run on my domain, I am using GoDaddy Hosting.
Would like to run a CTF for our school. Yep, Can't find any tutorial in the google.

Thanks for taking the time to read this.

Cheers,
Allan

[2016-06-19 06:23] mehnomy commented on #142
hello @atoooooooooom10

What kind of GoDaddy Hosting do you have, is it shared hosting or VPS?
- if its shared, you won't be able to host FBCTF on it.

You require a VPS or a Dedicated Server with Ubuntu 14.04 64x OS.

[Server Requirements](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki/Server-Requirements)

Regards,
Byron

[2016-06-19 06:37] atoooooooooom10 commented on #142
hi @mehnomy

Thanks for your response.
I bought this [Ultimate Hosting(for Linux)](https://ph.godaddy.com/hosting/web-hosting) but I don't know if it's a Shared Hosting or VPS.

Thanks,
Allan

[2016-06-19 06:42] mehnomy commented on #142
@atoooooooooom10 if you have purchased Ultimate Hosting from GoDaddy solely for FBCTF i would recommend getting a refund as that is Shared Hosting not a VPS, else if you have also purchased it for your own use then well don't get a refund 👍

Regards,
Byron

[2016-06-19 06:44] atoooooooooom10 commented on #142
Oh! Thanks, @mehnomy.

[2016-06-19 06:48] mehnomy commented on #142
@atoooooooooom10

If i have answered all your questions regarding this issue please close the issue.

Regards,
Byron

[2016-06-19 06:49] #142 closed

[2016-06-19 06:54] mehnomy commented on #141
@SimPlaysGames

Since you're using a Virtual Machine, you could try using my Guide if you create a new sandboxed environment with Ubuntu 14.04 64x on it.

[The Guide](https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki)

Regards,
Byron

[2016-06-19 06:57] mehnomy commented on #133
@jeff350

I'm quite curious what Browser are you using with your AdBlock Plus?
- Are you able to load https://challenge.rmit.me/ on that browser with AdBlock Plus active?

Regards,
Byron

[2016-06-19 20:23] jeff350 commented on #133
@mehnomy

I was able to replicate this on your site on a new virtual machine. This was using Firefox 47.0 and AdBlock Plus. On your site I was able to see the navbar but not any content.

The exact issue I had was using Fanboy's Social Blocking list that is built into Adblock Plus, and some other add blockers. their homepage is https://easylist.github.io/index.html

Jeff

[2016-06-19 22:14] chokkoretto commented on #138
@gsingh93, I am not sure what you mean by Server/Desktop image?

uname -a
Linux fbctftraining 3.13.0-87-generic #133-Ubuntu SMP Tue May 24 18:32:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.4 LTS
Release:        14.04
Codename:       trusty

@mehnomy thank you, I will look at this!

[2016-06-19 22:21] gsingh93 commented on #138
@chokkoretto Ubuntu provides both a [server](http://www.ubuntu.com/server) and [desktop](http://www.ubuntu.com/desktop) release. I'm wondering if one of those two doesn't come with curl installed.

In any case, I've updated the provision script to install curl, so this issue should be fixed.

[2016-06-19 22:25] divancorp commented on #122
I do not have access to close this issue... This was fixed part of https://github.com/facebook/fbctf/issues/130

[2016-06-19 22:46] #122 closed

[2016-06-20 01:40] chokkoretto commented on #138
Okay still bumping my head into things.  When I run that command again,
./extra/provision.sh -m prod -s $PWD
it ends at
rm: cannot remove '/etc/nginx/sites-enabled/default': No such file or directory

I am assuming this is still not working out as the set password shows not found still.
Sorry again for being so clueless here.

[2016-06-20 03:10] gsingh93 commented on #138
I think that's happening because of a bug when you run the script twice. I pushed a fix for that very recently, try doing a pull and running the script again.

[2016-06-21 16:16] paulmar commented on #141
Can you run other VMs? Doesn't seem to be a fbctf problem. See http://superuser.com/questions/785072/e-fail-0x80004005-when-running-linux-through-windows-8-virtualbox or ask Google for possible solutions.

[2016-06-21 16:43] javuto commented on #141
I had the same issue in OSX, and closing the terminal fixed the problem.

[2016-06-21 17:50] #141 closed

[2016-06-21 20:40] gsingh93 commented on #138
Sorry, I had made the commit locally, but forgot to push it. I just pushed the fix: https://github.com/facebook/fbctf/commit/6ea78941136d719cd76658e73390d5e24c196925

[2016-06-22 20:21] no1rscyber opened #145 "Unable to upload attachment files"
The actual files although listed in the level don't seem to actually upload to the server resulting in an "An error occurred"

Help appreciated.

[2016-06-22 20:52] no1rscyber commented on #145
Sorted, just need to change the permissions on the attachments folder.

[2016-06-22 20:52] #145 closed

[2016-06-23 13:03] no1rscyber opened #146 "Challenge Repo"
Has anybody setup any challenges on their platforms yet that they have shared in the public domain?

We have about 23 flag levels and around 30 quiz levels which equals about 3 hours or so worth of content.

Would be useful to have a "Challenge Ideas" or something of this ilk so that other platform administrators can get some inspiration on creating more content.

We have run a couple of comps so

[2016-06-23 14:38] devkell commented on #146
it would nice too for you to share what you have done so far, that other people can comment and share some improvements based on what you have planned.

[2016-06-23 14:39] devkell commented on #146
through i agree with you, that is a very good idea

[2016-06-23 15:00] gsingh93 commented on #146
The problem with making our challenges public to everyone, is that we're able to reuse them for multiple local CTFs. For example, we can use the challenges at two different University CTFs, where there is no chance of someone being at both CTFs.

For ideas for flag levels, there are already many challenges posted online, like [this site](http://captf.com/) and some Github repos that contain [solut

[2016-06-24 07:28] no1rscyber commented on #146
I of course understand that making challenges public might cause some crossover on multiple events but that wasn't really what I was getting at.

Its all about ideas and inspiration in order for organisers to create content that's fresh and both challenging at the same time.

I am looking forward to seeing what the FBCTF Team have in their private repo soon.

This may spur me on to create my own r

[2016-06-24 17:43] kiwiruss opened #147 "up and running but clients cannot log in"
I have the CTF up and running. clients can get the login screen but every attempts to log in fails.

[2016-06-24 18:04] kiwiruss commented on #147
Local login works on the system but anyone on the same network but a different physical machine cannot get past the login screen.

[2016-06-24 23:45] kiwiruss opened #148 "Facts without vagrant"
Is it possible to run facts without vagrant, just get a native fm up and running to connect to.

[2016-06-25 17:25] Ttech commented on #146
There is actually one going live for FBCTF and CTFd soon, I'll post details in the next few days. The idea behind it is to allow quick setup of CTF competitions for use internally or for small events.

[2016-06-25 18:55] divancorp opened #149 "babys_first_bof.c: unable to compile due to error in line 11"
I'm unable to create babys_first_bof binary file due to below error.
I have modified code to fgets but then I get different error due

As-IS code error:
vagrant@facebookCTF-Dev:/var/www/fbctf/demo_levels/babys_first_bof$ make all
gcc -m32 -fno-stack-protector -U_FORTIFY_SOURCE -fno-stack-protector -z execstack -mpreferred-stack-boundary=2 -w babys_
first_bof.c -o babys_first_bof
/tmp/ccj2jibD.o: I

[2016-06-25 19:18] gsingh93 commented on #149
The first "error" is a warning, not an error.

[2016-06-25 19:18] #149 closed

[2016-06-26 09:07] no1rscyber commented on #146
Great, I have some forward looking plans to implement this platform in various projects Im working on so Im looking forward to this.

Thanks very much.

[2016-06-26 09:10] no1rscyber commented on #147
I know this sounds like a basic suggestion but can you login with admin on different machines not just locally. When you say locally do you mean logging onto the actual server?

[2016-06-26 16:18] gsingh93 commented on #147
Is login failing for the admin account or other registered accounts. If it's for the admin account, make sure your password is correct. Did you provision in dev or prod mode?

[2016-06-26 22:42] kiwiruss commented on #147
I can open a web browser on the system running vagrant and the VM and login with the admin login. But from other physical systems we can use a browser to get to the login page but login failed as user or admin.

[2016-06-27 07:57] #146 closed

[2016-06-27 12:38] kiwiruss commented on #147
I know its HTTPS so is it possible a SSL cert issue ?

[2016-06-27 13:59] kiwiruss commented on #147
My co worker fixed the issue and its up and running and accessible. turns out it was a issue with the password and having to put it into production mode.  this issue can be closed. thanks

[2016-06-27 14:55] #147 closed

[2016-06-27 14:56] #138 closed

[2016-06-27 14:57] javuto commented on #148
I believe what you are looking for is the provisioning in a production environment. You can provision the fbctf platform using a self-signed certificate, generate a new one using let's encrypt or use your own. Check out the README or follow this guide on how to do this: https://github.com/mehnomy/FBCTF-Ubuntu-Setup/wiki

[2016-06-27 14:57] #148 closed

[2016-06-27 17:19] javuto commented on #5
https://github.com/facebook/fbctf/pull/150 for reference

[2016-06-27 20:04] SlayterDev opened #151 "Can't change admin password"
Using the script to change the admin password like so:

    ./extra/lib.sh set_password password ctf ctf fbctf $PWD

does nothing.

[2016-06-28 01:05] gsingh93 commented on #151
I tested this recently and it worked fine. Is this in dev install or a prod install? A VM or a physical Ubuntu 14.04 machine? Do you see any errors, or are you simply unable to login with the new password? Were you able to login before you reset the password?

[2016-06-28 01:15] SlayterDev commented on #151
Production, physical Ubuntu 14.04 machine. No output of any kind from the script. I was able to login before reseting the password. However resetting the password from the website still works.

[2016-06-28 03:16] gsingh93 commented on #151
What do you mean by "resetting from the website"? Do you mean after you try to reset, you can log in with the original password?

Here's a test you can run. Run `mysql -u ctf -p fbctf`, and when prompted for the password type `ctf`. Then run `select * from teams;`. Note the value in the `password_hash` field. Now try running the password reset script. Run the `select * from teams;` command again.

[2016-06-28 06:06] nikhilgeo opened #152 "How to set countdown timer in "/index.php?page=countdown""
I was trying to figure out the configuration section for setting the CTF "upcoming game" countdown timer from the admin dashboard, but I could find only the timer that activates after the game is started.

Can you please help me out..?

[2016-06-28 20:39] gsingh93 opened #153 "Increase default MySQL connection limit"
By default, MySQL has an extremely low connection limit. This causes problems with running the CTF with around 100 people, even though the platform can support many more. We should include a `my.cnf` file that sets `max_connections` to a larger number (maybe 1000?), as stated [here](https://dev.mysql.com/doc/refman/5.5/en/too-many-connections.html).

[2016-06-29 00:01] javuto commented on #152
This is something pending to implement. There is a issue already for it here: https://github.com/facebook/fbctf/issues/113

[2016-06-29 00:01] #152 closed

[2016-06-29 09:29] acjcool opened #154 "Streaming of results"
Hi,

Is it possible to access a stream that contains the leader board information during the competition from another platform/app? This is to enable apps to take the feed from FB CTF and make the results available to everybody registered for the event no matter where they are. We will have the leader board on the big screen in the room where the competition is running but there are several rooms

[2016-06-29 18:49] Ttech opened #155 "Don't Set MySQL Root Password"
When doing the configuration for production, the setup script sets the MYSQL Password and the 'ctf' user password.

The 'ctf' user by default has the password 'ctf', as well, which might be insecure.

Ideally, these credentials should be generated randomly and given to the setup to be used.

[2016-06-30 02:06] javuto commented on #154
If you go to https://YOUR_CTF_DOMAIN/data/leaderboard.php there is an endpoint with the current leaderboard in JSON format. It does require authentication though.

[2016-06-30 02:38] gsingh93 commented on #155
I don't think this is a huge issue because the MySQL only listens on localhost by default. I do think it's a good idea for users to change it on their own, but it will definitely create more confusion for people if we do it automatically in the provision script (scroll through the closed issues and see how many are about what the password is).

[2016-06-30 15:10] Ttech commented on #155
I agree - but thats why I was suggesting a output message of "here are the passwords" don't forget!
This turned out to be quite a problem when setting this up for external listening on the mysql server.
Since I had to stop everything and start it up to get the password of root set properly and then while I was doing that changed the ctf password.

[2016-06-30 18:31] LuqiPan opened #156 "Open source CTF problem sets"
Thank you for this awesome platform. I'm wondering if it's possible to open source your problem sets for CTFs too? As I think it would definitely help us to bootstrap our own CTFs.

[2016-06-30 21:39] gsingh93 commented on #155
So we actually randomly generate a password for the admin user when you provision in prod mode, and that gets printed out at the end of provisioning. A lot of the issues we had after launch were because people didn't read the output at the end and missed the password.

Maybe we can have a flag for the provision script (off by default) that randomly generates the password?

[2016-07-01 10:19] Hacktast1c opened #157 "Install Enhancements"
Can someone please tell me how to apply updates / enhancements?

TYIA

[2016-07-02 18:38] assazzin opened #158 "Blank page at menu 'TEAMS' and 'GAME LOGS'"
Platform is very well but I found some issue while I remove some quiz.
There is step by step that issue was happened.

1. Add a quiz.
2. Play a game and correct the answer of previous quiz.   (menu "TEAMS" and "GAME LOGS" can open)
3. Remove all quiz, now menu "TEAMS" and "GAME LOGS" can not access (got a blank page)

There are some error from /var/log/hhvm/error.log

`[Sun Jul  3 12:26:14 2016] [

[2016-07-02 18:44] assazzin commented on #151
use following commands after enter 'fbctf' folder.
There are 2 commands.

[code]

[2016-07-02 18:58] assazzin commented on #158
I found detour fix this issue by deal with reset all score.

so I keep in mind I will not delete quiz while game is running.

[2016-07-02 19:02] #158 closed

[2016-07-03 01:41] javuto commented on #157
Define updates/enhancements.
If you mean to have always your code updated, then ```git pull``` is what you are looking for.

[2016-07-03 01:43] javuto commented on #155
We could define the mysql password as a parameter in the provision script or have it generated. For now is just hardcoded and this does not really go well with previous installations of MySQL.

[2016-07-03 01:52] javuto commented on #153
I think this is totally reasonable. Given that the default value is 151 (see it with the command ```show variables like "max_connections";```) we can easily and safely put it to 500 at least.

[2016-07-03 01:55] javuto commented on #153
We should definitely deploy our own ```my.cnf``` and also enable binary logs.

[2016-07-03 01:58] #133 closed

[2016-07-03 02:01] javuto commented on #27
This seem to be a known issue with vagrant and OSX. Not directly caused by the fbctf platform: https://github.com/mitchellh/vagrant/issues/6360

[2016-07-03 02:01] #27 closed

[2016-07-04 07:25] no1rscyber commented on #156
Have a look in here, this might help you?

https://github.com/facebook/fbctf/issues/146

[2016-07-04 07:41] nikhilgeo opened #159 "Error popup for login failures..."
I was trying to implement an error pop up for failed login with message from JSON response.

I tried invoking the _Modal.loadPopup_ in _function sendIndexRequest_ in /var/www/fbctf/src/static/dist/js/app.js but it's giving an error like **ReferenceError: Modal is not defined**

Is there any initializations or something that need to be done before calling **Modal.loadPopup**  in _function sendIndex

[2016-07-04 14:15] wpaisk commented on #151
In the interface of the teams configuration team1 you can set the name of the administrator and password, if it is with the command configuration, with the following two:./extra/lib.sh (two points between a space)
Password CTF CTF fbctf $PWD set_password

[2016-07-05 01:20] LuqiPan commented on #156
@no1rscyber thx for the reference, I'll close this issue for now.

[2016-07-05 01:20] #156 closed

[2016-07-05 18:42] hyunvis opened #160 "host ctf"
Finally, i made the local fbctf system.

but, i want make this for about 50 people that they can see, and solve.

I have domain for this, and server also.

what should i do?

thanks a lot.

[2016-07-06 03:16] gsingh93 opened #161 "Can't copy question description from Firefox"
This was reported by @githubguy64. Copying the question description works on Chrome, but it doesn't work on Firefox.

[2016-07-06 20:27] rdenman opened #163 "Backing up databases in dev mode"
Is there a way to back up all the challenges and quiz questions I've entered into my development environment without doing a snapshot of the whole platform/challenges? Where is all that information stored? I want to give the platform to a couple other people to load on their machines and play around with before setting up the server.

[2016-07-07 01:11] gsingh93 commented on #163
You can just dump the database with `mysqldump` and then load it with `mysql` later on. I can provide the exact commands later if you can't figure it out.

[This PR](https://github.com/facebook/fbctf/pull/150) should provide exporting capability from the UI, but I haven't had time to review it yet.

[2016-07-07 01:13] gsingh93 opened #164 "Run `hh_format` on our codebase"
We should run `hh_format` on our codebase to make sure we have consistent style. We don't necessarily need to accept all the defaults, but we should configure it to our liking and require people run it before making pull requests.

[2016-07-07 01:32] gsingh93 commented on #157
And then after you pull, you can sync your code with either rsync or unison. It should be safe to overwrite all of the old files as well, other than the settings.ini.

[2016-07-07 01:34] gsingh93 commented on #157
@javuto It might be nice to include a `--update` flag to the provision script, that does the pull and the rsync to the www directory.

[2016-07-07 02:46] gsingh93 commented on #164
Ugh, `hh_format` allows absolutely no customization of formatting. We'd have to just go with whatever they use.

[2016-07-07 16:46] #163 closed

[2016-07-07 16:46] rdenman commented on #163
thanks!

[2016-07-08 08:16] acjcool opened #165 "Leader board graph not showing line during competition"
Hi,

I've been playing some quiz games and noticed that the leader board graph isn't updating. The team scores are but not the graph. Is there something that I should switch on in the config screen or something? It used to work before I pulled the latest from github
![fbctf](https://cloud.githubusercontent.com/assets/3783663/16681412/dd45dd42-44f4-11e6-8bd5-7a2b82a62ee7.PNG)

[2016-07-08 17:08] no1rscyber commented on #165
I noticed the same fault on my last game. I thought it might of been that I started the game without any teams logged in? Were your teams all logged in and ready to go when you started the game?

[2016-07-08 17:11] no1rscyber commented on #160
Would it not be just a case of installing your Ubuntu server o/s and provisioning the server in production? Stick a DNS record in and away you go. Oh, you might have to get some certificates if you are running across the Internet for security purposes but there is lots of information on how to do this by searching around here.

[2016-07-11 16:34] maydewd commented on #164
Should this still be done, despite no customization?

[2016-07-11 17:21] gsingh93 commented on #164
I think the way forward here is to run hh_format on the codebase and see how much of their style guide we disagree with. I think it'll be minimal, in which case I think it's worth it to compromise on a few of our style guidelines for the convenience of automatic formatting.

[2016-07-13 12:59] acjcool commented on #165
Hi, sorry for the late reply. Both teams were actively playing. The table updates and the start->end blocks were filling up. The graph did nothing so getting worried as I'm getting asked with every demo why the graph isn't working. Any ideas or is someone else experiencing something similar?

[2016-07-14 21:48] maydewd opened #167 "Feedback on submitted answer"
The admin should have the ability to, upon creating a question, set a flag to display information (solution, other info) to the user upon a successful answer.

Ideal:
The admin should also have the ability to set a Max_Tries that, if reached, will display that information upon that number of incorrect submitted answer.  By default, 0 max tries is infinite (no hint)

[2016-07-18 13:49] jeszicawii opened #169 "Can't get bases running."
Hi all,

We have had bases running in the past however can't seem to set them up anymore, just wondering if we're missing anything silly, a sanity check.
We've followed the instructions on the wiki and even when we visit the port in browser we get the team name, however the map isn't updating.

This is using the vagrant file provided in the git repo via git clone.